<div class="l-homepage">
  <div class="l-intro" style="background-image: url(images/headers/header-bg-home.jpg)">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: true } %>
      <div class="c-hero">
        <h1 class="title -light -huge">Advancing financial inclusion</h1>
        <p class="subtitle">A platform for <a href="#">governments</a>,
          <a href="#">researchers</a> and <a href="#">FSP Techs.</a>
        </p>
      </div>
    </div>
  </div>

  <div class="homepage-section -government" style="background-image: url(images/homepage/home-bg-1b.png)">
    <div class="wrapper">
      <img src="images/homepage/home-bg-1a.png" alt="">
      <div class="c-card-highlight -homepage">
        <h3 class="title -dark -medium">Governments</h3>
        <p>Generic introduction text lorem ipsum id elit non mi
          porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur.
          lorem ipsum id elit non mi porta gravida at eget metus. Aenean lacinia
          bibendum nulla sed consectetur.
        </p>
        <a href="#" class="c-button">Select a country</a>
      </div>
    </div>
  </div>

  <div class="homepage-section -researcher">
    <div class="wrapper">
      <div class="c-card-highlight -homepage">
        <h3 class="title -dark -medium">Researcher</h3>
        <p>Generic introduction text lorem ipsum id elit non mi
          porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur.
          lorem ipsum id elit non mi porta gravida at eget metus. Aenean lacinia
          bibendum nulla sed consectetur.
        </p>
        <a href="#" class="c-button">Customize indicators</a>
      </div>
      <img src="images/homepage/home-bg-2.png" alt="">
    </div>
  </div>

  <div class="homepage-section -fsp-tech">
    <div class="wrapper">
      <img src="images/homepage/home-bg-3.png" alt="">
      <div class="c-card-highlight -homepage">
        <h3 class="title -dark -medium">FSP Tech.</h3>
        <p>Generic introduction text lorem ipsum id elit non mi
          porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur.
          lorem ipsum id elit non mi porta gravida at eget metus. Aenean lacinia
          bibendum nulla sed consectetur.
        </p>
        <a href="#" class="c-button">Draw up reports</a>
      </div>
    </div>
  </div>

  <div class="contribute-section">
    <div class="wrapper">
      <div class="content">
        <h2 class="title -dark -big">Contribute</h2>
        <p>Lorem ipsum ullam id dolor id nibh ultricies vehicula ut id elit.
          Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida
          at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </p>
        <a href="#" class="c-button -no-border">Contact us</a>
      </div>
    </div>
  </div>
</div>
