@import '_settings';
@import '_mixins';

.c-sidebar-analysis-result {
  padding: 0px 30px 20px 55px;

  .analysis-controls {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    >.back-button {
      font-family: "Open Sans";
      display: flex;
      flex-direction: column;
      cursor: pointer;
      outline: none;

      .title {
        position: relative;
        width: 100%;
        padding: 0 0 0 15px;
        font-size: 20px;
        font-weight: normal;
        color: #000;
        line-height: 27px;

        &:before {
          @include triangle(6px, $color-1, 'left');
          content: '';
          position: absolute;
          top: 50%;
          left: 0px;
          transform: translate(0, -50%);
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .download-button {
      color: $color-1;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: bold;
      line-height: 22px;
      text-decoration: underline;
    }
  }

  @media print {
    min-width: 800px;
  }
}

