<div class="l-community">
  <div class="l-intro" style="background-image: url(images/headers/header-bg-comm.jpg)">
    <div class="wrapper">
      <%= render partial: 'shared/header'%>
      <div class="c-hero">
        <h1 class="title -light -huge">i2i Community</h1>
        <p class="subtitle">Description text. Lorem ipsum sit amet ornare
          sem lacinia quam venenatis vestibulum.</p>
      </div>
    </div>
  </div>

  <div class="l-card-grid">
    <div class="c-card -big">
      <div class="picture"></div>
      <div class="metadata">
        <h4 class="title -dark -medium">Presentations</h4>
        <p>Short description porta sem malesuada magna mollis euis mod enean eu leo quam.</p>
        <a class="c-button">Go to section</a>
      </div>
    </div>

    <div class="c-card -big">
      <div class="picture"></div>
      <div class="metadata">
        <h4 class="title -dark -medium">Workshops</h4>
        <p>Short description porta sem malesuada magna mollis euis mod enean eu leo quam.</p>
        <a class="c-button">Go to section</a>
      </div>
    </div>

    <div class="c-card -big">
      <div class="picture"></div>
      <div class="metadata">
        <h4 class="title -dark -medium">Forum</h4>
        <p>Short description porta sem malesuada magna mollis euis mod enean eu leo quam.</p>
        <a class="c-button">Go to section</a>
      </div>
    </div>

    <div class="c-card -big">
      <div class="picture"></div>
      <div class="metadata">
        <h4 class="title -dark -medium">Experts</h4>
        <p>Short description porta sem malesuada magna mollis euis mod enean eu leo quam.</p>
        <a class="c-button">Go to section</a>
      </div>
    </div>
  </div>

  <!-- profile sample -->
  <div class="c-profile -rounded">
    <div class="avatar">
      <img src="images/people/person_2.jpg" alt="Jeremy Soul">
    </div>
    <div class="info">
      <span class="name">Name Surname</span>
      <span class="organization">Organization name</span>
    </div>
  </div>
</div>
