<div class="l-community">
  <div class="l-hero">
    <div class="row">
      <%= render partial: 'shared/header'%>
      <div class="c-hero">
        <h1 class="title -light -huge">i2i Community</h1>
        <p class="subtitle">Description text. Lorem ipsum sit amet ornare
          sem lacinia quam venenatis vestibulum.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="l-card-grid">
      <div class="c-card -big">
        <div class="picture"></div>
        <div class="metadata">
          <h4 class="title -dark -medium">Presentations</h4>
          <p>Short description porta sem malesuada magna mollis euis mod enean eu leo quam.</p>
          <a class="c-button">Go to section</a>
        </div>
      </div>

      <div class="c-card -big">
        <div class="picture"></div>
        <div class="metadata">
          <h4 class="title -dark -medium">Workshops</h4>
          <p>Short description porta sem malesuada magna mollis euis mod enean eu leo quam.</p>
          <a class="c-button">Go to section</a>
        </div>
      </div>

      <div class="c-card -big">
        <div class="picture"></div>
        <div class="metadata">
          <h4 class="title -dark -medium">Forum</h4>
          <p>Short description porta sem malesuada magna mollis euis mod enean eu leo quam.</p>
          <a class="c-button">Go to section</a>
        </div>
      </div>

      <div class="c-card -big">
        <div class="picture"></div>
        <div class="metadata">
          <h4 class="title -dark -medium">Experts</h4>
          <p>Short description porta sem malesuada magna mollis euis mod enean eu leo quam.</p>
          <a class="c-button">Go to section</a>
        </div>
      </div>
    </div>

    <!-- profile sample -->
    <div class="c-profile">
      <div class="avatar"></div>
      <h4 class="name">Name Surname</h4>
      <p class="organization">Organization name</p>
    </div>

  </div>
</div>
