<div class="l-data-portal">
  <div class="l-hero" style="background-image: url(images/headers/header-bg-about.jpg)">
    <div class="row">
      <%= render partial: 'shared/header'%>
      <div class="c-hero">
        <h1 class="title -light -huge">Data Portal</h1>
        <p class="subtitle">Description text. Lorem ipsum sit amet ornare
          sem lacinia quam venenatis vestibulum.</p>
      </div>
    </div>
  </div>
</div>


<% @countries.each do |country| %>
  </br><%= link_to country.name, data_portal_country_path(country.id) %>
<% end %>
