<div class="l-hero">
  <div class="wrapper">
    <%= render partial: 'shared/header'%>
    <div class="c-hero">
      <div class="column small-6">
        <h1 class="c-title -light -huge">Advancing financial inclusion</h1>
        <p class="subtitle">A platform for <a href="#">governments</a>,
          <a href="#">researchers</a> and <a href="#">FSP Techs.</a>
        </p>
      </div>
    </div>
  </div>
</div>
