<% title 'Terms of Use' %>

<div class="l-terms-of-use">
  <div class="l-intro">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: true }%>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
      <div class="row">
        <div class="grid-s-12 grid-l-8">
          <h2 class="title -xbig -center -dark">Terms of use</h2>
          <h3 class="subtitle term-title">i2i open data portal</h3>

          <div class="terms">

            <h4 class="title term-title">background</h4>
            <p>A data use agreement allows a researcher/Institutions to analyze limited data. We give researchers/ Institutions online access to Financial inclusion datasets to analyze data. Datasets may be Licensed Data (Email required). We also provide links to other Financial inclusion datasets available from other sites.<br />
             Please take note that our FinScope datasets hosted on the i2i (insight2impact) platform is not owned by i2i, but the following data-owners. Please contact the data owner for further information if needed.</p>

            <ul class="term-list">

              <li class="term-item">
                <span class="item-title">FinMark - FinScope – (Ghana)</span>
                <span class="item-description">FinScope Datasets hosted – 2010</span>
                <a href="http://www.finmark.org.za" target="_blank" rel="noopener noreferrer">http://www.finmark.org.za</a>
              </li>

              <li class="term-item">
                <span class="item-title">FSDK- Financial Sector Deepening Kenya – (Kenya)</span>
                <span class="item-description">FinScope Datasets hosted – 2006, 2013, 2016</span>
                <a href="http://www.fsdkenya.org" target="_blank" rel="noopener noreferrer">http://www.fsdkenya.org</a>
              </li>

              <li class="term-item">
                <span class="item-title">FinMark - FinScope – (Mozambique)</span>
                <span class="item-description">FinScope Datasets hosted – 2014</span>
                <a href="http://www.finmark.org.za" target="_blank" rel="noopener noreferrer">http://www.finmark.org.za</a>
              </li>

              <li class="term-item">
                <span class="item-title">FinMark - FinScope – (Pakistan)</span>
                <span class="item-description">FinScope Datasets hosted – 2008</span>
                <a href="http://www.finmark.org.za" target="_blank" rel="noopener noreferrer">http://www.finmark.org.za</a>
              </li>

              <li class="term-item">
                <span class="item-title">AFR- Financial sector development in Rwanda – (Rwanda)</span>
                <span class="item-description">FinScope Datasets hosted – 2008, 2012, 2016</span>
                <a href="http://www.afr.rw/" target="_blank" rel="noopener noreferrer">http://www.afr.rw/</a>
              </li>

              <li class="term-item">
                <span class="item-title">FSDT - Developing financial inclusion in Tanzania  – (Tanzania)</span>
                <span class="item-description">FinScope Datasets hosted – 2006, 2009, 2013</span>
                <a href="http://www.fsdt.or.tz/" target="_blank" rel="noopener noreferrer">http://www.fsdt.or.tz/</a>
              </li>

              <li class="term-item">
                <span class="item-title">FSDU - FSD Uganda – (Uganda) </span>
                <span class="item-description">FinScope Datasets hosted – 2006, 2009, 2015</span>
                <a href="http://www.fsduganda.or.ug/" target="_blank" rel="noopener noreferrer">http://www.fsduganda.or.ug/</a>
              </li>

              <li class="term-item">
                <span class="item-title">FSDZ - Financial Sector Deepening Zambia- (Zambia)</span>
                <span class="item-description">FinScope Datasets hosted – 2009, 2015</span>
                <a href="http://www.fsdzambia.org/" target="_blank" rel="noopener noreferrer">http://www.fsdzambia.org/</a>
              </li>

            </ul>


            <h4 class="title term-title">Data Use and Ownership</h4>
            <p>Original materials prepared by i2i and Data owners, including, without limitation:     Datasets, reports, proposals, analysis, writings, sound recordings, pictorial reproductions or materials of any type whatsoever, are and shall remain the property of i2i and our Data owners. You will assert no right, claim or interest of any nature whatsoever with respect thereto, including specifically but, without limitation, any claim to statutory copyright or patent.</p>
            <p>You  may request data use approval from the Data owners for development of papers or reports.  Such papers or reports must have the specific written approval of the Data owners before such products are submitted for presentation or publication in the public domain.</p>
            <p>The data may not be sold to third parties<br/>You may use, and analyze, the data for research purposes freely.<br/>You will always have to credit the Data owners for the data in any reproductions materials.</p>

            <h4 class="title term-title">Attribution, Sharing and Adapting the Data Use Agreement</h4>
            <p><span class="disclaimer">We encourage you</span>:<br/>
              <span class="disclaimer">to request</span> — to email us and request for datasets<br/>
              <span class="disclaimer">to share</span> — to copy, distribute, and transmit the work with crediting the data owners</p>

            <p><span class="disclaimer">Under the following conditions:</span></p>

            <p><span class="disclaimer">Attribution</span>: In freely using the materials, we require that you acknowledge the Data owners as the Owners of the data and that you give appropriate credit to the owner. With the understanding that:</p>

            <p><span class="disclaimer">We might contact you</span>: We are interested in gathering information regarding those who  are using the data and how they are using it. We may contact you by email to solicit information on how you have used the materials or to request collaboration or input on future activities.</p>

            <p><span class="disclaimer">We ask that you share your adaptation</span>:  If you adapt the data, please share them with us so that we may to support and improved version of the checklist. All contributors will be appropriately acknowledged. Please send your requests, questions and comments to <a href="mailto:info@i2ifacility.org">info@i2ifacility.org</a></p>

            <p><span class="disclaimer">You respect the rights of others</span>: In writing this material, i2i (insight2impact) is indebted to the work of others. In no way are any of the rights of others in the work itself or in how the work is used affected by our adaptation.</p>

            <p><span class="disclaimer">When reusing or distributing, make clear the above terms</span>: For any reuse or distribution, you must make clear to others the terms of this work. The best way to do this is with a link to the web page containing this guide.</p>

            <h4 class="title term-title">Introducing Creative Commons License</h4>
            <p>The i2i (Insight2Impact) portal operates with clear agreements in place, which define the intended uses of the content. All data or publications disseminated through the Insight2Impact portal are published under the <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer">Creative Commons Attribution 4.0 Generic License (CC BY 4.0)</a> or an equivalent license, permitting users to copy and redistribute the material in any medium or format and to transform and build upon the material, for any purpose, including commercial, without further permission or fees being required. </p>

            <p>By using Creative Commons, the Insight2Impact portal enables unrestricted access and reuse of data sets to the public and community. This enables data owners to generate greater impact, as researchers and industry actors are able to analyse the data and apply the insights to FSPs’ market strategies, product design, and other business decisions.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
