.c-article {
  padding: 0 0 60px;
  border-bottom: 1px solid $color-1;

  header {
    text-align: center;

    .container {
      display: flex;
      justify-content: center;
    }

    .index-link {
      display: inline-block;
      margin: 0 0 15px;
      color: $color-1;
      font-family: $font-family-2;
      font-size: $font-size-s;
      text-transform: uppercase;
    }

    .authorship {
      display: block;
      margin: 30px 0 40px;

      color: $color-5;
      font-family: $font-family-2;
      font-size: $font-size-s;
      text-transform: uppercase;

      @media #{$mq-laptop} {
        margin: 30px 0 85px;
      }

      > .author-name {
        color: $color-1;
      }

      &.-has-workstream {
        margin: 30px 0 0;
      }
    }

    .workstream {
      display: block;
      margin: 15px 0 40px;


      color: $color-5;
      font-family: $font-family-2;
      font-size: $font-size-s;
      text-transform: uppercase;
    }
  }

  .article-content {

    .article-image {
      height: 200px;
      margin: 0 0 40px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      box-shadow: 0 2px 3px 0 rgba($color-6, .15);

      @media #{$mq-tablet} {
        height: 400px;
      }

      @media #{$mq-laptop} {
        height: 585px;
        margin: 0 0 85px;
      }
    }

    .article-text {
      display: flex;
      justify-content: center;

      ul {
        li {
          display: list-item;
          list-style: disc;
        }
      }

      .youtube-embed-wrapper {
        margin: 25px 0;

        @media #{$mq-tablet} {
          margin: 35px 0;
        }
      }
    }

    .footer-article {
      display: flex;
      justify-content: center;
      margin: 60px 0 0;
    }
  }
}
