.c-app-logo {
  a {
    display: inline-block;

    > img {
      width: auto;
      height: auto;
    }
  }

  &.-fixed {
    a > img {
      @media #{$mq-tablet} {
        width: 128px;
        height: 52px;
      }

      @media #{$mq-laptop} {
        width: 96px;
        height: 38px;
      }
    }
  }
}
