.c-app-logo {
  display: flex;
  align-items: center;
  margin-top: 10px;

  a {
    display: inline-block;

    > img {
      width: 90px;
      height: auto;
    }
  }

  @media #{$mq-tablet} {
    a {
      > img {
        width: auto;
      }
    }
  }

  &.-fixed {
    margin: 0;

    a > img {
      @media #{$mq-tablet} {
        width: 128px;
        height: 52px;
      }

      @media #{$mq-laptop} {
        width: 96px;
        height: 38px;
      }
    }
  }
}
