.c-button {
  display: inline-block;
  width: 100%;
  padding: 12px 0 9px;

  border: 1px solid $color-1;
  border-radius: 100px;

  color: $color-1;
  font-family: $font-family-2;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  text-align: center;

  cursor: pointer;

  &.-active,
  &:hover {
    background-color: $color-1;
    color: $color-4;
  }

  &.-white {
    border: 0;
    background-color: $color-4;
    box-shadow: 0 2px 3px 0 rgba($color-6, .15);

    &.-active,
    &:hover {
      background-color: $color-1;
      color: $color-4;
    }

    &.-outline {
      border: 1px solid $color-4;
      background-color: transparent;
      color: $color-4;
      box-shadow: none;

      &.-active,
      &:hover {
        background-color: transparent;
        color: $color-4;
      }
    }
  }

  &.-sea {
    border: 0;
    background-color: $color-1;
    color: $color-4;

    &.-active,
    &:hover {
      background-color: $color-4;
      color: $color-1;
    }

    &.-outline {
      border: 1px solid $color-1;
      background-color: transparent;
      color: $color-1;

      &.-active,
      &:hover {
        background-color: transparent;
        color: $color-1;
      }
    }
  }

  &.-padding {
    width: auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  &.-no-hover:not(.-outline) {
    &:hover {
      background-color: transparent;
      color: $color-1;
    }

    &.-white:hover {
      background-color: $color-4;
      color: $color-1;
    }

    &.-sea {
      background-color: $color-1;
      color: $color-4;
    }
  }

  &.-retry {
    width: 48px;
    height: 48px;
    border: 0;
    background: asset-url('retry-icon.svg') center center no-repeat;
    background-color: $color-4;
    background-size: auto 27px;
    text-indent: -10000px;
    box-shadow: 0 2px 3px 0 rgba($color-6, .15);
  }
}
