
.c-button {
  display: inline-block;
  padding: 12px 25px 9px;

  border: 1px solid $color-1;
  border-radius: 100px;
  background: $color-4;

  color: $color-1;
  font-family: $font-family-2;
  font-size: $font-size-normal;

  &.-no-border {
    border-color: transparent;
  }

  &.-filled {
    border: 0;
    background: $color-1;
    color: $color-4;
  }

  &.-black {
    border: 0;
    background: $color-4;
    color: $color-5;
  }

  &.-big {
    padding: 12px 85px 9px;
  }
}
