.c-button {
  display: inline-block;
  padding: 14px 25px 11px;

  border: 1px solid $color-1;
  border-radius: 100px;

  color: $color-1;
  font-family: $font-family-2;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  text-align: center;

  cursor: pointer;

  &[aria-pressed='true'],
  &.-active,
  &:hover {
    background-color: $color-1;
    color: $color-4;
  }

  &.-medium {
    padding-right: 45px;
    padding-left: 45px;
  }

  &.-big {
    padding-right: 85px;
    padding-left: 85px;
  }

  &.-white {
    border: 0;
    background-color: $color-4;
    box-shadow: 0 2px 3px 0 rgba($color-6, .15);

    &[aria-pressed='true'],
    &.-active,
    &:hover {
      background-color: $color-1;
      color: $color-4;
    }

    &.-outline {
      border: 1px solid $color-4;
      background-color: transparent;
      color: $color-4;
      box-shadow: none;

      &[aria-pressed='true'],
      &.-active,
      &:hover {
        background-color: transparent;
        color: $color-4;
      }
    }
  }

  &.-sea {
    border: 0;
    background-color: $color-1;
    color: $color-4;

    &[aria-pressed='true'],
    &.-active,
    &:hover {
      background-color: $color-4;
      color: $color-1;
    }

    &.-outline {
      border: 1px solid $color-1;
      background-color: transparent;
      color: $color-1;

      &[aria-pressed='true'],
      &.-active,
      &:hover {
        background-color: transparent;
        color: $color-1;
      }
    }
  }

  &.-mini {
    height: 24px;
    padding: 0 15px;
    border-color: rgba($color-1, .3);
    font-size: $font-size-s;
    line-height: 24px;
  }

  &.-no-hover:not(.-outline) {
    &:hover {
      background-color: transparent;
      color: $color-1;
    }

    &.-white:hover {
      background-color: $color-4;
      color: $color-1;
    }

    &.-sea {
      background-color: $color-1;
      color: $color-4;
    }
  }

  &.-retry {
    width: 48px;
    height: 48px;
    border: 0;
    background: asset-url('retry-icon.svg') center center no-repeat;
    background-color: $color-4;
    background-size: auto 27px;
    text-indent: -10000px;
    box-shadow: 0 2px 3px 0 rgba($color-6, .15);
  }
}
