
.c-button {
  display: inline-block;
  width: 100%;
  padding: 12px 0 9px;

  border: 1px solid $color-1;
  border-radius: 100px;

  color: $color-1;
  font-family: $font-family-2;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  text-align: center;

  cursor: pointer;

  &.-white {
    border: 0;
    background-color: $color-4;
    box-shadow: 0 2px 3px 0 rgba($color-6, .15);
  }

  &.-sea {
    border: 0;
    background-color: $color-1;
    color: $color-4;
  }
}
