
.c-button {
  display: inline-block;
  width: 100%;
  padding: 12px 0 9px;

  border: 1px solid $color-1;
  border-radius: 100px;
  background: transparent;

  color: $color-1;
  font-family: $font-family-2;
  font-size: font-size-xs;
  text-align: center;

  cursor: pointer;

  &.-no-border {
    border-color: transparent;
  }

  &.-filled {
    border: 0;
    background: $color-1;
    color: $color-4;
  }

  &.-black {
    border: 0;
    background: $color-4;
    color: $color-5;
  }

  &.-big {
    padding: 14px 85px 11px;
  }
}
