
.c-card-highlight {
  @extend .c-card;

  > .title {
    margin: 0 0 20px;
  }

  > .c-button {
    margin: 25px 0 0;
  }

  &.-homepage {
    display: block;
    max-width: 525px;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0 40px;
    background: transparent;
    box-shadow: none;

    @media #{$mq-tablet} {
      padding: 60px 0 50px;
    }

    @media #{$mq-laptop} {
      margin: 0;
      padding: 115px 60px;
      background: $color-4;
      box-shadow: 0 2px 3px 0 rgba($color-6, .15);
    }
  }

  &.-about {
    display: inline-block;
    width: calc(100% - 340px);
    padding: 85px 110px 85px 85px;

    .-reverse & {
      padding: 85px 85px 85px 110px;
    }
  }
}
