
.c-card {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 0 $card-bottom-margin;

  background: $color-4;
  box-shadow: 0 2px 3px 0 rgba($color-6, .15);
  .picture {
    display: flex;
    // flex: 1;
    width: 100%;
    height: 140px;

    background-color: $color-1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .metadata {
    width: 100%;
    padding: 25px;
    background-color: $color-4;

    > .title {
      line-height: 28px;
    }

    > * + p  {
      margin: 10px 0 0;
    }

    > .c-button {
      margin: 25px 0 0;
    }

    > .card-options {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin: 15px 0 0;
    }
  }

  .tags-container {
    color: $color-1;
    font-family: $font-family-2;
    font-size: $font-size-s;
    font-weight: bold;
    line-height: 1.75;
    margin-top: 20px;
  }

  .tag {
    color: $color-1;
    font-family: $font-family-2;
    font-size: $font-size-s;
    font-weight: bold;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid $border-color;
    padding: 15px 25px;

    .date {
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      color: rgba($color-5, .3);
    }

    .card-category {
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      color: $color-1;
      letter-spacing: 1px;
    }
  }

  // &.-horizontal {

  //   @media #{$mq-tablet} {
  //     height: 280px;

  //     > a {
  //       flex-direction: row;
  //     }

  //     .picture {
  //       width: 50%;
  //       height: 100%;
  //     }

  //     .metadata {
  //       width: 50%;
  //     }

  //     &.-reverse {
  //       > a {
  //         flex-direction: row-reverse;
  //       }
  //     }
  //   }

  //   @media #{$mq-laptop} {
  //     height: 190px;
  //   }
  // }

  &.-highlighted {

    @media #{$mq-laptop} {
      height: calc(#{$card-height} * 2 + #{$card-bottom-margin});

      .metadata {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 340px;
      }
    }
  }
}
