
.c-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 280px;

  > .picture {
    display: inline-block;
    width: 100%;
    height: 145px;

    background-image: image-url('credit-card.jpg'); // temporal image
    background-size: cover;
  }

  > .metadata {
    flex-grow: 1;
    padding: 30px;
    background: $color-4;
    box-shadow: 0 2px 3px 0 rgba($color-6, .15);

    > p {
      margin: 10px 0 0;
    }

    > .c-button {
      margin: 25px 0 0;
    }
  }

  &.-small {
    width: 250px;
    height: 285px;
  }

  &.-big {
    width: 520px;
    height: 370px;

    > .picture {
      height: 140px;
    }
  }

  &.-horizontal {
    flex-direction: row;
    width: 100%;
    height: 190px;

    > .picture {
      width: 50%;
      height: 100%;
      z-index: 1;
    }

    > .metadata {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
    }

    &.-reverse {
      flex-direction: row-reverse;
    }
  }

  &.-important {
    position: relative;
    width: 700px;
    height: 580px;

    > .picture {
      height: 100%;
    }

    > .metadata {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 340px;
    }
  }
}
