
.c-card {
  position: relative;
  margin: 0 0 20px;

  background: $color-4;
  box-shadow: 0 2px 3px 0 rgba($color-6, .15);

  > .picture {
    width: 100%;
    height: 325px;

    background-color: $color-1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    > a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  .metadata {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: $color-4;

    pointer-events: none;

    .title {
      &:not(:first-child) {
        margin: 10px 0 0;
      }
    }

    > * + p  {
      margin: 10px 0 0;
    }

    > .c-button {
      margin: 25px 0 0;
    }

    > .card-options {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin: 15px 0 0;
    }
  }

  &.-small {
    display: flex;
    flex-direction: column;
  }

  &.-medium {
    display: flex;
    flex-direction: column;
  }

  &.-big {
    display: flex;
    flex-direction: column;
  }

  &.-horizontal {
    > .picture {
      height: 100%px;
    }

    @media #{$mq-tablet} {
      display: flex;
      height: 280px;

      > .picture {
        height: 100%;
      }

      > .metadata {
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        width: 50%;
      }

      &.-reverse {
        > .metadata {
          right: auto;
          left: 0;
        }
      }
    }

    @media #{$mq-laptop} {
      height: 190px;
    }
  }

  &.-highlighted {

    @media #{$mq-laptop} {
      position: relative;
      height: calc(325px * 2 + 20px);

      > .picture {
        height: 100%;
      }

      > .metadata {
        max-width: 340px;
      }
    }
  }
}
