.c-country-selector {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  z-index: 2;

  .country-link {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    color: $color-2;
    font-size: $font-size-regular;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    &::before {
      @include arrow(11px, 2px, $color-2, 'left');
      margin-right: 10px;
    }
  }

  .country-selector {
    position: absolute;
    top: 25px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &.-open + .country-placeholder {
      &::after {
        @include arrow(20px, 4px, $color-2, 'up');
      }
    }

    // hide select IE default browser dropdown
    &::-ms-expand {
        display: none;
    }
  }

  .country-placeholder {
    display: inline-table;
    position: relative;
    padding-right: 45px;

    pointer-events: none;

    @media #{$mq-tablet} {
      display: inline-block;
    }

    &::after {
      @include arrow(20px, 4px, $color-2, 'down');
      position: absolute;
      top: calc(50% - 5px);
      right: 15px;
      transform: rotate(45deg) translate(0, -50%);

      @media #{$mq-tablet} {
        top: 50%;
      }
    }
  }
}
