.c-footer {
  padding: 30px 0 0;

  @media #{$mq-tablet} {
    padding: 0;
  }

  background-image: asset-url('footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .container-logo-mobile {
    display: flex;
    justify-content: center;

    @media #{$mq-tablet} {
      display: none;
    }
  }


  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 35px 0 15px;
    border-top: 1px solid rgba($color-1, .5);

    @media #{$mq-tablet} {
      padding: 25px 0;
      justify-content: flex-start;
    }

    @media #{$mq-body-width} {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    > .nav-item {
      flex-basis: 50%;
      flex-shrink: 0;
      margin-bottom: 20px;

      @media #{$mq-tablet} {
        flex-basis: 20%;
      }

      @media #{$mq-body-width} {
        flex-basis: auto;
        margin-right: 20px;
        margin-bottom: 0px;
      }

      a {
        font-size: $font-size-xxs;
        font-family: $font-family-2;
        color: $color-4;
      }

      > span {
        position: relative;
        padding: 0 20px 0 0;
        font-size: $font-size-xs;
        font-family: $font-family-2;
        color: $color-2;
        cursor: pointer;

        // hack to keep tooltip open
        &::before {
          position: absolute;
          bottom: 100%;
          left: 0;
          width: 100%;
          height: 15px;
          content: '';
        }

        &::after {
          @include arrow(8px, 2px, $color-2, 'down');
          position: absolute;
          top: 50%;
          transform: translate(10px, calc(-50% - 3px)) rotate(45deg);
        }
      }

      &.-followus {
        margin-right: 0;

        @media #{$mq-body-width} {
          margin-right: 20px;
        }
      }

      &.-vizzuality {
        flex-grow: 1;
        margin-right: 0;
        flex-basis: 100%;
        margin-top: 20px;
        text-align: center;
        font-size: $font-size-s;
        color: $color-4;

        @media #{$mq-body-width} {
          flex-basis: auto;
          margin-top: 0;
          text-align: right;
        }

        img {
          display: inline-block;
          width: 60px;
          vertical-align: middle;
        }
      }
    }
  }

  .partner-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 20px;

    @media #{$mq-tablet} {
      padding: 60px 0;
    }

    .partner-item {
      flex-basis: 50%;
      margin-bottom: 30px;
      flex-shrink: 0;
      flex-grow: 0;
      overflow: hidden;
      text-align: center;

      @media #{$mq-tablet} {
        flex-basis: 25%;
        margin-bottom: 0;
      }

      &:first-of-type {
        @media #{$mq-tablet} {
          text-align: left;
        }
      }

      &:last-of-type {
        margin-bottom: 0;

        @media #{$mq-tablet} {
          text-align: right;
        }
      }

      img {
        max-width: 100%;

        @media #{$mq-tablet} {
          max-width: auto;
        }
      }

      > .mastercard-logo > img {
        max-height: 68px;
      }

      > .finmark-logo > img {
        max-height: 68px;
      }

      > .cenfri-logo > img {
        max-height: 55px;
        opacity: .8;
      }

      > .bill-mellinda-logo > img {
        max-height: 34px;
      }
    }
  }
}
