
.c-footer {
  background-image: image-url('footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .c-nav {
    padding: 0 150px;
    border-bottom: 1px solid $color-1;

    > .nav-list {
      padding: 45px 0 35px;
    }
  }

  .credits {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 35px 0 45px;

    > .app-logo {
      > a {
        display: inline-flex;

        > img {
          width: 195px;
          height: 83px;
        }
      }
    }
  }

  .authorship {
    position: relative;
    bottom: 6px;

    > .designed-by {
      position: relative;
      bottom: 5px;

      color: $color-4;
      font-family: $font-family-1;
      font-size: $font-size-s;
      font-weight: $font-weight-light;
    }

    .vizzuality-logo {
      display: inline-flex;

      > img {
        width: 100px;
        height: 24px;
      }
    }
  }
}
