.c-form {

  > .custom-row {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      margin: 25px 0 0;

      @media #{$mq-tablet} {
        margin: 40px 0 0;
      }
    }
  }

  > .custom-inline-row {
    display: flex;

    @media #{$mq-tablet} {
      margin: 40px 0 0;
    }
  }

  label {
    margin: 0 0 10px;

    color: $color-1;
    font-family: $font-family-2;
    font-size: $font-size-s;
    font-weight: $font-weight-medium;
    text-transform: uppercase;

    > a {
      text-decoration: underline;
      color: $color-1;
    }
  }

  input,
  textarea {
    padding: 14px 15px;
    border: 0;
    border-radius: 0;

    background: rgba($color-1, .1);

    font-family: $font-family-1;
    font-size: $font-size-xs;
    font-weight: $font-weight-light;
    &.primary-btn {
      padding: 14px 20px 11px;
      border: 1px solid $color-1;
      border-radius: 100px;
      color: $color-1;
      font-family: $font-family-2;
      font-size: $font-size-xs;
      font-weight: $font-weight-bold;
      text-align: center;
      cursor: pointer;
    }
    &::placeholder {
      color: $color-5;
    }

    &:-ms-input-placeholder {
      color: $color-5;
    }
  }

  input {
    color: $color-5;
  }

  textarea {
    resize: none;
  }
}
