.c-geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 100%;
  text-align: left;

  .geosuggest__input {
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #2F939C;
    box-shadow: none;
    padding: .5em 0;
    background: none;
    font-size: 14px;
  }

  .geosuggest__input:focus {
    border-color: #2F939C;
    box-shadow: 0 0 0 transparent;
  }

  .geosuggest__suggests {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 25em;
    padding: 0;
    margin-top: -1px;
    color: rgba(#FFF, 0.75);
    background: #2F939C;
    border: 2px solid #2F939C;
    border-top-width: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    z-index: 5;
  }

  .geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
  }

  /**
  * A geosuggest item
  */

  .geosuggest__item {
    font-size: 14px;
    padding: .5em .65em;
    cursor: pointer;
    display: block;
  }

  .geosuggest__item:hover,
  .geosuggest__item:focus {
    background: darken(#2F939C, 5%);
  }

  .geosuggest__item--active {
    background: darken(#2F939C, 5%);
  }

  .geosuggest__item--active:hover,
  .geosuggest__item--active:focus {
    background: darken(#2F939C, 10%);
  }

  .geosuggest__item__matched-text {
    font-weight: bold;
    color: #FFF;
  }
}