
.c-header {
  padding: 25px 0 0;

  > .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .app-logo {}

  .nav {
    > .nav-list > .nav-item {

      &:not(:first-child) {
        margin: 0 0 0 60px;
      }

      > a {
        color: $color-4;
        font-family: $font-family-2;
        font-size: $font-size-medium;
      }
    }
  }
}
