.c-hero {
  padding: 70px 0;
  overflow: hidden;

  @media #{$mq-tablet} {
    padding: 120px 0 110px;
  }

  .subtitle {
    margin: 20px 0 0;

    color: $color-4;
    font-family: $font-family-2;
    font-weight: $font-weight-medium;

    > a {
      color: $color-2;
      font-weight: $font-weight-bold;
    }
  }
}
