
.c-hero {
  padding: 120px 0 110px;
  background: $color-1;

  .column {
    padding: 0;
  }

  .subtitle {
    color: $color-4;
    font-size: $font-size-medium;

    > a {
      color: $color-2;
    }
  }
}
