
.c-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0 0;
  background: $color-1;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .app-logo > a {
      display: inline-block;
    }


    .app-logo > a > img {
      width: 96px;
      height: 38px;
    }

    .hamburguer {
      position: relative;
      min-width: 23px;
      height: 16px;
      padding: 0;

      cursor: pointer;

      @media #{$mq-laptop} {
        display: none;
      }

      > .ingredient {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;

        background-color: $color-4;

        &:first-child {
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
        }

        &:last-child {
          top: 100%;
        }
      }
    }
  }

  &.-cover {
    background: transparent;
  }
}
