
.c-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .app-logo {
    > a {
      display: inline-block;

      > img {
        width: 96px;
        height: 38px;
      }
    }
  }
}
