.c-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 40px);
  max-width: 880px;
  transform: translate(-50%, -50%);
  background: $color-4;

  .modal-title {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    color: $color-4;
    font-family: $font-family-2;
    font-size: $font-size-xm;
    font-weight: $font-weight-medium;
    line-height: 1.5;
    text-shadow: 0 2px 3px rgba($color-6, .15);
  }

  .modal-footer {
    display: flex;
    position: absolute;
    bottom: -20px;
    left: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transform: translateY(100%);
  }
}

.veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: $color-1;
  opacity: .9;
}
