.c-newsletter-section {
  padding: 30px 0;
  background-color: $color-5;
  color: $color-4;

  .c-button {
    margin-left: 25px;
  }

  .subscribe-button-inner {
    margin-left: 20px !important;
    padding-top: 5px !important;
  }
}
