.c-radio-filters {
  .filters {
    display: flex;
    flex-wrap: nowrap;
  }

  .filteritem {
    position: relative;
    flex-grow: 1;
    padding: 5px 0;
    color: $color-4;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;

    .filterinput {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      overflow: hidden;
      clip: rect(0 0 0 0);

      &:checked + .filterindicator {
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          transform: translate(-50%, -50%);
          border-radius: 50px;
          background-color: $color-4;
          content: '';
        }
      }
    }

    .filtercontrol {
      display: inline-block;
      position: relative;
      cursor: pointer;
    }

    .filterlabel {
      display: block;
      margin-left: 23px;
    }

    .filterindicator {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 16px;
      height: 16px;
      transform: translateY(-50%);
      border: 1px solid rgba($color-4, .4);
      border-radius: 50%;
    }
  }
}
