.c-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;

  .search-box {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid $color-4;
  }

  .search-icon {
    color: $color-4;
  }

  .search-input {
    flex: 1;
    color: $color-4;
    font-size: $font-size-regular;
    font-weight: $font-weight-bold;

    &::placeholder {
      color: $color-4;
      font-size: $font-size-regular;
      font-weight: $font-weight-bold;
    }

    //override browser default autocomplete
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus
    &:-webkit-autofill {
      transition: background-color 5000s ease-in-out 0s;
      font-size: $font-size-regular;
      font-weight: $font-weight-bold;
      -webkit-box-shadow: 0 0 0px 1000px rgba($color-4, 0), inset;
      -webkit-text-fill-color: $color-4;
    }

    &:focus {
      outline: none;
    }
  }

  .search-submit {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }

  .search-filter {
    margin-top: 10px;
    width: 100%;

    .c-button {
      position: relative;
      width: 100%;
      min-width: 224px;
      text-align: center;
    }
  }
}

@media #{$mq-tablet} {
  .c-search {
    flex-wrap: wrap;
    margin-bottom: 20px;

    .search-box {
      margin-right: 20px;
      margin-bottom: 10px;
    }

    .search-submit {
      flex: inherit;
      width: auto;
      margin-top: 0;
    }

    .search-filter {
      margin-top: 0;
      width: auto;
      margin-left: 15px;
    }
  }
}

@media #{$mq-desktop} {
  .c-search {
    flex-wrap: nowrap;

    .search-box {
      flex: 1;
    }
  }
}


.search-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .icon-search {
    color: $color-2;
    margin-right: 5px;
  }
}

.c-modal-search {
  margin: auto;
  padding: 100px;
  background-color: $color-4;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translate(100%, -100%);
  visibility: hidden;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

  &.-open {
    transform: translate(0, 0);
    visibility: visible;
  }

  .c-form-search-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $color-12;

    svg {
      padding-right: 5px;
      width: 36px;
    }

    #search-input {
      cursor: pointer;
      background: none;
      border: 0;
      padding: 20px 20px 20px 0;
      width: 90%;
      font-size: 19px;
      font-weight: bold;

      &:focus {
        outline: 0;
      }
    }
  }

  .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: $color-1;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
  }
}
