.c-switcher {
  display: flex;
  position: relative;
  align-items: stretch;
  padding: 1px;
  border-radius: 100px;
  background: rgba($color-6, .1);


  > .switcher-option {
    display: inline-flex;
    position: relative;
    flex: 1;
    align-items: center;
    justify-content: center;
    // width: calc(50% - 15px);
    height: auto;
    margin: 0;
    padding: 2px 15px;
    border-radius: 100px;

    color: $color-2;
    font-family: $font-family-2;
    font-size: $font-size-xs;
    font-weight: $font-weight-semi-bold;

    cursor: pointer;

    &:first-child {
      left: 2px;
    }

    &:last-child {
      right: 2px;
    }

    &.-current {
      // width: 50%;
      // padding: 1px 15px 0;
      background: $color-1;
      color: $color-4;
    }
  }
}
