
.c-title {
  margin: 0;
  font-family: $font-family-2;
  font-weight: $font-weight-medium;

  &.-light {
    color: $color-4;
  }

  &.-dark {
    color: $color-5;
  }

  &.-huge {
    font-size: $font-size-huge;
    letter-spacing: -4px;
    line-height: .86;
  }
}
