<div class="c-chart-widget">
  <h3 class="title -dark"><%= name %></h3>
  <div class="chart js-chart"></div>
  <div class="toolbar">
    <button class="c-button">Save</button>
    <button class="c-button">Change</button>
    <button class="c-button">Compare</button>
  </div>
</div>
