<div class="c-chart-widget <%= noData ? '-empty': '' %>">
  <h3 class="title -dark"><%= name %></h3>
  <div class="chart js-chart"></div>
  <div class="toolbar">
    <button type="button" class="c-button js-save">Save</button>
    <button type="button" class="c-button js-change">Change</button>
    <button type="button" class="c-button js-compare">Compare</button>
    <% if (!isAnalyzing && canAnalyze) { %><button type="button" class="c-button js-analyze">Analyse</button><% } %>
    <% if (isAnalyzing) { %><button type="button" class="c-button -active js-stop-analyze">Clear analysis</button><% } %>
  </div>
</div>
