<% if (!error && indicators.length) { %>

  <div class="indicator-options">
      <button class="c-button -white" disabled>Add all to report</button>
      <% if (!isZambia) { %>
        <button class="c-button -white js-download-all">Download all</button>
      <% } %>
      <% if (mapUrl) { %><a class="c-button -white" href="<%= mapUrl %>" rel="noopener" target="_blank">Check FSPmaps data</a><% } %>
    </div>
    <% if (isTanzania) { %>
      <div class="finscope-logo">
        <img src="/images/logos/finscope-color.png" width="220" height="100">
      </div>
    <% } %>
    <div class="container-custom-indicators">
      <button class="c-button -sea js-customize-indicators">Customise indicators</button>
    </div>
  </div>

<% } %>
