<% if (!error && indicators.length) { %>

  <div class="indicator-options">
      <button class="c-button -white" disabled>Add all to report</button>
      <% if (!isZambia) { %>
        <button class="c-button -white js-download-all">Download all</button>
      <% } %>
      <% if (mapUrl) { %><a class="c-button -white" href="<%= mapUrl %>" rel="noopener" target="_blank">Check FSPmaps data</a><% } %>
    </div>
    <div class="container-custom-indicators">
      <button class="c-button -sea js-customize-indicators">Customize indicators</button>
    </div>
  </div>

<% } %>
