<% if (error || !indicators.length) { %>

  <div class="grid-s-12">
      <div class="row">
        <div class="container">
          <div class="grid-s-12 grid-m-8 grid-l-7 -no-mobile">
            <h1 class="title-placeholder"></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-s-12">
      <div class="row">
        <div class="grid-s-12 grid-l-7">
          <div class="filters-placeholder">
            <span class="c-tag"></span>
            <span class="c-tag"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-s-12">
      <div class="l-data-definition">
        <div class="row">
          <div class="container">
            <div class="grid-s-12 grid-l-7">
              <div class="description-placeholder">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<% } else { %>

  <div class="grid-s-12">
    <div class="row">
      <div class="container">
        <div class="grid-s-12 grid-m-8 grid-l-7 -no-mobile">
          <h1 class="title -light -big js-country"><%= country %></h1>
        </div>
        <div class="grid-m-4 grid-l-3 _no-mobile">
        <button class="c-button -white js-customize-indicators">Customize indicators</button>
      </div>
      </div>
    </div>
  </div>
  <div class="grid-s-12">
    <div class="row">
      <div class="grid-s-12 grid-l-7">
        <div class="l-data-range">
          <span class="c-tag">All jurisdictions</span>
          in
          <span class="c-tag js-year"><%= year %></span>
          <!-- <p>Showing data about <span class="c-tag">individuals</span> and
          their <span class="c-tag">gender, age, marital status</span> ...</p>
          <p>Regarding <span class="c-tag">financial inclusion included</span></p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="grid-s-12">
    <div class="l-data-definition">
      <div class="row">
        <div class="container">
          <div class="grid-s-12 grid-l-7">
            <div class="description-placeholder">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <!-- We don't have any description to show yet
              <p class="country-data-description">
                The findings from the FinScope Country 2012 survey revealed that 72% of adults were financially included – 42% were formally served (23% served by commercial banks and 33% served by non-bank formal institutions) and 58% used informal financial mechanisms.
              </p>
            -->
          </div>
          <div class="grid-s-12 _no-tablet">
            <button class="c-button -white">Customize indicators</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<% } %>
