<ul class="c-tabs <% if(cssClass) { %> <%= cssClass %> <% } %> ">
  <% tabs.forEach(function(tab) { %>
    <li class="tab" role="tab"
      <% if (<%= tab.id %>) { %>
        aria-controls="<%= tab.id %>"
      <% } %>
    >
      <%= tab.name %>
    </li>
  <% }); %>
</ul>
