<div class="c-widget-warning-tooltip">
  <h3><%= title %></h3>
  <p><%= description %></p>
  <div class="buttons">
    <button class="c-button -mini js-cancel">Cancel</button>
    <button class="c-button -mini js-continue">Continue</button>
  </div>
</div>
