@import '_settings';
@import '_mixins';

.c-sidebar {
  z-index: 1;
  position: absolute;
  width: 330px;
  height: 100%;
  background-color: #F5F8F8;
  box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.15);
  transform: translate(-100%, 0);
  transition: transform .24s cubic-bezier(0.445, 0.050, 0.550, 0.950);

  &.-big {
    width: 50%;
  }

  .overflow-container {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 71px); // height of tabs

    @media print {
      overflow: visible;
      height: 100%;
    }
  }

  .toggle-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 18px 15px;
    background: #fff;
    transform: translate(100%, 0);
    cursor: pointer;

    > .arrow {
      display: inline-flex;

      &:before {
        content: '';
        @include triangle(6px, $color-1, 'right');
      }
    }
  }

  &.-open {
    transform: translate(0,0);

    .toggle-btn {

      > .arrow {
        &:before {
          @include triangle(6px, $color-1, 'left');
        }
      }
    }
  }

  @media print {
    min-width: 800px;
  }
}
