<% title 'i2i' %>

<div class="l-embed js-layout">
  <div class="row">
    <div class="grid-s-12 grid-m-12 grid js-grid">
      <div class="c-widget -printable">
        <div class="js-widget"></div>
      </div>
    </div>
    <% unless params[:no_logo] == 'true' %>
      <div class="grid-s-12 logo">
        <%= link_to image_tag('/i2i-logo-grey.svg', :alt => 'insight2impact'), root_path, :target => '_parent' %>
      </div>
    <% end %>
  </div>
</div>

<div id="vis-tooltip" class="vg-tooltip"></div>
<div id="vis-custom-tooltip" class="vg-tooltip"></div>
