<div class="c-social-tooltip">
  <ul class="social-list">
    <li class="social-item">
      <a href="https://www.facebook.com/insight2impact/" target="_blank" rel="noopener">
        <img src="icons/social/facebook.svg" alt="Facebook" />
        <span>Facebook</span>
      </a>
    </li>
    <li class="social-item">
      <a href="https://www.linkedin.com/company/insight2impact/" target="_blank" rel="noopener">
        <img src="icons/social/linkedin.svg" alt="LinkedIn" />
        <span>LinkedIn</span>
      </a>
    </li>
    <li class="social-item">
      <a href="https://twitter.com/i2ifacility" target="_blank" rel="noopener">
        <img src="icons/social/twitter.svg" alt="Twitter" />
        <span>Twitter</span>
      </a>
    </li>
    <li class="social-item">
      <a href="https://www.instagram.com/i2ifacility/" target="_blank" rel="noopener">
        <img src="icons/social/instagram.svg" alt="Instagram" />
        <span>Instagram</span>
      </a>
    </li>
    <li class="social-item">
      <a href="https://www.youtube.com/channel/UC2acZIcBw60Hy2DuZ7Yoh7g" target="_blank" rel="noopener">
        <img src="icons/social/youtube.svg" alt="Youtube" />
        <span>Youtube</span>
      </a>
    </li>
  </ul>
</div>
