<div class="c-social-tooltip <%= direction %>">
  <ul class="social-list">
    <li class="social-item">
      <a href="https://www.facebook.com/insight2impact/" target="_blank" rel="noopener">
        <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
        <span>Facebook</span>
      </a>
    </li>
    <li class="social-item">
      <a href="https://www.linkedin.com/company/insight2impact/" target="_blank" rel="noopener">
        <svg class="icon icon-linkedln"><use xlink:href="#icon-linkedln"></use></svg>
        <span>LinkedIn</span>
      </a>
    </li>
    <li class="social-item">
      <a href="https://twitter.com/i2ifacility" target="_blank" rel="noopener">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        <span>Twitter</span>
      </a>
    </li>
    <li class="social-item">
      <a href="https://www.instagram.com/i2ifacility/" target="_blank" rel="noopener">
        <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
        <span>Instagram</span>
      </a>
    </li>
    <li class="social-item">
      <a href="https://www.youtube.com/channel/UC2acZIcBw60Hy2DuZ7Yoh7g" target="_blank" rel="noopener">
        <svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
        <span>Youtube</span>
      </a>
    </li>
  </ul>
</div>
