.c-legend-years {
  display: flex;

  .legend-years--radio {
    margin: 10px 0 0 10px;

    &:first-child {
      margin: 10px 0 0;
    }

    label {
      display: block;
      padding: 2px 0;
      text-transform: none;
      position: relative;
      padding-left: 20px;
      font-size: 11px;
      line-height: 1;
      cursor: pointer;
      width: auto;
      top: 0;
      left: 0;
      transform: none;
      text-align: left;

      .legend-years--symbol {
        position: absolute;
        top: 50%;
        left: 0;
        width: 14px;
        height: 14px;
        border: 1px solid #2F939C;
        border-radius: 50%;
        transform: translate(0,-50%);

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          background: #2F939C;
          border-radius: 50%;
          display: block;
          transform: translate(-50%,-50%) scale(0);
          transition: all .16s cubic-bezier(0.445, 0.050, 0.550, 0.950);
        }
      }

      .legend-years--name {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
      }
    }

    input[type=radio] {
      display: none;
    }

    input[type=radio]:checked + label {
      .legend-years--symbol {
        &:after {
          transform: translate(-50%,-50%) scale(1);
        }
      }
    }
  }

}
