
.c-modal-profile {
  display: flex;
  flex-wrap: wrap;

  > .member-picture {
    display: inline-block;
    width: 340px;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  > .member-info {
    width: calc(100% - 340px);
    padding: 35px 45px 0;
  }
}
