
.c-modal-profile {
  display: flex;
  flex-wrap: wrap;

  > .member-picture {
    display: inline-block;
    width: 340px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  > .member-info {
    position: relative;
    width: calc(100% - 340px);
    padding: 35px 45px 0;
  }

  > .member-info > .member-position {
    margin: 15px 0 25px;
  }

  > .member-info > .scroll-container {
    position: relative;

    &::before,
    &::after {
      display: inline-block;
      position: absolute;

      left: 0;
      width: 100%;
      height: 25px;

      content: '';
    }

    &::before {
      top: 0;
      background-image: linear-gradient(to top, rgba($color-4, 0), $color-4);
    }

    &::after {
      bottom: 0;
      background-image: linear-gradient(to bottom, rgba($color-4, 0), $color-4);
    }

    > .content {
      max-height: 400px;
      padding: 25px 0;
      overflow-y: auto;
    }
  }

  & + .modal-footer {
    justify-content: flex-end !important;
  }
}
