.c-modal-about-read-more {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-flow: wrap;
  flex-wrap: wrap;
  align-content: flex-start;
  width: calc(100% - #{$wrapper-padding-mobile * 2});
  margin: $wrapper-padding-mobile auto 0;
  padding: $wrapper-padding-mobile;
  background-color: $color-4;
  text-align: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  @media #{$mq-tablet} {
    width: 100%;
    margin: 0;
    padding: $wrapper-padding-tablet;
  }

  > .content {
    padding: $wrapper-padding-mobile;
    background-color: $color-4;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @media #{$mq-tablet} {
      max-height: 460px;
      padding: 50px 0;

      ul {
        margin: 10px 0 20px;
        padding-left: 30px;

        li {
          display: list-item;
          margin-bottom: 10px;
          list-style: disc;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    p {
      line-height: 1.6;
    }

    li {
      line-height: 1.6;
    }
  }

  @media #{$mq-tablet} {
    &::before {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      height: 50px;
      background: linear-gradient(to top, rgba($color-4, .4), $color-4);
      content: '';
    }

    &::after {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      height: 50px;
      background: linear-gradient(to bottom, rgba($color-4, .4), $color-4);
      content: '';
    }
  }

}
