.c-modal-about-read-more {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  padding: 10px $wrapper-padding-mobile;

  @media #{$mq-tablet} {
    padding: 10px 60px;
  }

  > .content {
    padding: $wrapper-padding-mobile;
    background-color: $color-4;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @media #{$mq-tablet} {
      max-height: 460px;
      padding: 50px 0;

      ul {
        margin: 10px 0 20px;
        padding-left: 30px;

        li {
          display: list-item;
          margin-bottom: 10px;
          list-style: disc;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    p {
      line-height: 1.6;
    }

    li {
      line-height: 1.6;
    }
  }

  @media #{$mq-tablet} {
    &::before {
      position: fixed;
      top: 10px;
      width: calc(100% - 2 * 60px);
      height: 50px;
      background: linear-gradient(to top, rgba($color-4, 0), $color-4);
      content: '';
    }

    &::after {
      position: fixed;
      bottom: 10px;
      width: calc(100% - 2 * 60px);
      height: 50px;
      background: linear-gradient(to bottom, rgba($color-4, 0), $color-4);
      content: '';
    }
  }

}
