<div class="row">
  <div class="partner-item grid-s-12 grid-m-4">
    <%= image_tag 'logos/nextbillion_logo.png', class: 'partner-item-logo' %>
    <div class="partner-item-link">
      <%= link_to 'Visit website', 'https://nextbillion.net/', target: '_blank', class: 'c-button' %>
    </div>
  </div>
  <div class="partners-item grid-s-12 grid-m-8">
    <p>NextBillion is an open forum for the development through enterprise sector. Based at the William Davidson Institute at the University of Michigan, the site is a community of business leaders, social entrepreneurs, NGO managers, policy makers, academics and others exploring the connection between development and for-profit business.</p>
    <p>We publish guest-written content from entrepreneurs, researchers and others working on the ground in emerging markets, along with regular interviews with the thought-leaders who are shaping the sector. Most of our coverage focuses on low- and middle-income countries, though we also cover businesses and initiatives serving low-income communities in more developed markets. Our goal is to provide a platform for discussion of business ideas and innovations that address poverty-related challenges and reshape entire economies.</p>
    <p>NextBillion also offers an editor-curated news feed, a calendar of important events, and a jobs board with continuously updated employment opportunities across the development through enterprise sector.</p>
  </div>
</div>
