<div class="c-indicator-modal">
  <div class="modal-title">
    <h1>Select indicators</h1>
  </div>
  <div class="page-container js-page-container">

  </div>
  <div class="modal-footer">
    <button class="c-button js-done-btn-modal">Done</button>
    <button class="c-button -white js-add-indicators-btn">Add indicators</button>
  </div>
</div>
