<div class="c-filter-modal">
  <div class="modal-tab-container">
    <button class="modal-tab -current">Common indicators</button>
    <button class="modal-tab">Advanced</button>
  </div>
  <div class="page-container js-page-container">

  </div>
</div>
