<div class="c-modal-download-all">
  <h2 class="title -dark">Download</h2>
  <p class="description">I have read and agree to the terms of use, insert your email below and you will be able to download the raw datasets in SPSS, Stata and Excel formats.</p>

  <form action="#" onSubmit class="c-form js-form">
    <input type="email" id="email" class="js-email" placeholder="E-mail address" required />
    <div class="terms-container">
      <input type="checkbox" id="terms-and-conditions" class="js-terms" /><label for="terms-and-conditions">I accept to the <a href="<%= termsLink %>" target="_blank" rel="noopener noreferrer">terms and conditions.
        <svg class="icon icon-external-open"><use xlink:href="#icon-external-open"></use></svg></a>
      </span>
    </div>
  </form>
</div>
