<div class="c-modal-download-all">
  <h2 class="title -dark">Download</h2>
  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima cumque asperiores nam enim! Veniam reprehenderit possimus, iure labore explicabo ipsum ducimus eligendi</p>

  <form action="#" onSubmit class="c-form js-form">
    <input type="email" name="email" class="js-email" placeholder="E-mail address" required />
    <div class="terms-container">
      <input type="checkbox" name="terms-and-conditions" class="js-terms" /> <span>
        I accept to the <a href="#" target="_blank" rel="noopener noreferrer">terms and conditions.
        <svg class="icon icon-external-open"><use xlink:href="#icon-external-open"></use></svg></a>
      </span>
    </div>
  </form>
</div>
