<div class="c-modal-chart-compare">
  <div class="header">
    Select up to three elements to compare <span><%= indicator %></span> in <span><%= country %></span> in <span><%= year %></span> with...
  </div>
  <div class="compare-tabs js-tabs"></div>
  <div class="compare-container js-container"></div>
</div>
