<table>
  <tbody>

    <% fields.forEach(function(field) { %>
      <tr>
        <td class="key"><%= field.title %></td>
        <td class="value"><%= field.value %></td>
      </tr>
    <% }) %>

  </tbody>
</table>
