<div class="row">
  <div class="grid-s-12 grid-xl-8">
    <h2 class="title -dark -medium"><%= title %></h2>
  </div>
</div>
<div class="chart"></div>

<% if (showToolbar) { %>
  <div class="toolbar">
    <% if (report) { %>
      <button type="button" class="c-button -mini js-delete">Delete</button>
    <% } else { %>
      <button type="button" class="c-button -mini js-save">Save</button>
    <% } %>
  </div>
<% } %>
