@import '_settings';

.c-icon {
  width: 30px;
  height: 20px;
  opacity: 0.5;
  fill: $color-5;

  &.-sea {
    fill: $color-1;
  }

  &.-small {
    width: 16px;
    height: 18px;
  }
  &.-selected {
    fill: #2F8B9C;
    opacity: 1;
  }
  &.-disabled {
    opacity: .7;
  }
}
