@import '_settings';
@import '_mixins';

@font-face {
  font-family: 'Chalet';
  font-weight: $font-weight-medium;
  src: font-url('/typography/ChaletNewYorkNineteenSixty.ttf') format('truetype');
}

.legend-btn {
  position: relative;
  width: 100%;
  border-top: 1px solid $color-9;
  margin-top: 20px;
  padding-top: 10px;
  color: $color-1;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  &::after {
    @include arrow(7px, 2px, $color-1, 'down');
    position: absolute;
    bottom: -10px;
    transform: translate(-38px, calc(-50% - 3px)) rotate(45deg);
  }
}


