.l-account {
  .account-form-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;

    @media #{$mq-tablet} {
      margin: 100px 0 0 0;
    }
  }

  .form-header {
    text-align: center;
    margin-bottom: 30px
  }

  p.description {
    margin-bottom: 20px;
    color: #001D22;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
  }

  .form-box {
    margin-top: 140px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
    padding: 10px 20px;

    @media #{$mq-tablet} {
      padding: 70px 90px;
    }
  }

  .account-form {
    > .custom-row {
      display: flex;
      flex-direction: column;

      &:not(:first-child) {
        margin: 22px 0 0;
      }
    }

    label {
      margin-bottom: 5px;
      font-size: 13px;
      line-height: 18px;
      color: #257B83;
      font-family: $font-family-1;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }

    .form-actions {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;

      * {
        line-height: 22px;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
        padding: 10px 25px;
        border-radius: 22.5px;
        font-weight: bold;
        cursor: pointer;
      }

      .primary {
        color: #FFFFFF;
        background-color: #2F939C;

        font-size: 16px;
        text-align: center;

      }
      .secondary {
        color: #257B83;
        background-color: #fff;
        border: 1px solid rgba(37,123,131, 0.5);

      }
      .-link {
        border: none;
        text-decoration: underline;
        box-shadow: none;
        padding-right: 0;
      }
    }

    .reset-btn {
      display: flex;
      color: #2F939C;
      text-decoration: underline;
      font-weight: 700;
      line-height: 30px;
      padding: 45px;
    }

    #error_explanation {
      h2 {
        font-size: 20px;
        margin: 10px 0;
      }
    }
    .field_with_errors {
      * {
        width: 100%;
      }
    }
  }
}
