.l-alert {
  margin-top: 100px;
  margin-bottom: 0;

  .alert-item {
    padding: 7px 12px;

    &.-info {
      color: #257B83;
      background-color: rgba(47, 147, 156, 0.1);
    }

    &.-danger {
      color: #721c24;
      background-color: #f5c6cb;
    }
  }
}
