.l-data-portal {

  .l-data-stats {
    display: flex;
    margin: 10px 0 0;

    .data-stats-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .data-stats-title {
        color: $color-4;
        font-family: $font-family-2;
        font-size: $font-size-xs;
      }

      .data-stats-value {
        // Placeholder styles
        // Do not remove them, just trigger them with JS once the
        // data has loaded
        width: 60px;
        height: 26px;
        margin-top: 12px;
        background-color: rgba($color-3, .4);

        // Until we don't have data, those styles are useless
        // color: $color-4;
        // font-family: $font-family-1;
        // font-size: $font-size-xm;
        // font-weight: $font-weight-bold;
        // letter-spacing: -1px;
      }
    }
  }

  .l-content {

    section {
      &:not(:first-child) {
        margin: 40px 0 0;

        @media #{$mq-laptop} {
          margin: 85px 0 0;
        }
      }

      &.l-country-list {
        border-top: 1px solid rgba($color-1, .2);

        > header {
          margin: 75px 0 0;
        }
      }

      .l-card-grid {
        margin: 40px 0 0;
      }
    }

    .countries-list {
      min-height: 500px;
    }
  }
}
