.l-data-portal-country {
  .l-header {
    width: 100%;
    background-color: $color-1;
  }

  .l-mobile-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 15px 0;

    background: $color-1;
    box-shadow: 0 2px 3px 0 rgba($color-6, .15);
    z-index: 10;

    .country-name {
      display: block;
      position: relative;

      color: $color-4;
      font-family: $font-family-2;
      font-size: $font-size-xs;

      &::after {
        @include arrow(8px, 2px, $color-4, 'down');
        position: absolute;
        top: calc(50% - 4px);
        right: 0;
        transform: rotate(45deg) translate(0, -50%);
        cursor: pointer;
      }
    }
  }

  .l-intro {
    padding: 50px 0 0;
    background-color: $color-1;

    @media #{$mq-laptop} {
      padding: 50px 0 75px;
    }

    .l-title {
      .container {
        @media #{$mq-tablet} {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .c-button {
          @media #{$mq-tablet} {
            float: right;
          }
        }
      }

      .title-placeholder {
        max-width: 250px;
        height: 50px;
        background-color: rgba($color-3, .5);
      }

      .filters-placeholder > .c-tag {
        display: inline-block;
        height: 24px;
        margin-top: 30px;
        pointer-events: none;

        &:first-of-type {
          width: 135px;
          margin-right: 22px;
        }

        &:last-of-type {
          width: 55px;
        }
      }

      .description-placeholder > div {
        max-width: 610px;
        height: 12px;
        margin-bottom: 10px;
        background-color: rgba($color-3, .5);

        &:last-of-type { margin-bottom: 0; }
      }
    }

    .l-population {
      margin-top: 20px;

      span {
        display: block;
        color: $color-4;
        font-family: $font-family-2;
      }

      .title {
        margin-bottom: 5px;
        font-size: $font-size-s;
        text-transform: uppercase;
      }

      .number {
        font-size: $font-size-xm;
        letter-spacing: -1px;
      }
    }

    .l-data-range {
      margin: 25px 0 20px;
      color: $color-3;
      font-family: $font-family-2;
      font-size: $font-size-xs;
      line-height: 1.8;

      @media #{$mq-laptop} {
        margin: 20px 0 0;
      }

      p {
        color: $color-3;
        font-family: $font-family-2;
        line-height: 1.8;

        &:not(:first-child) {
          margin: 5px 0 0;
        }
      }
    }

    .l-data-definition {
      margin: 25px 0;

      .container {
        @media #{$mq-tablet} {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
        }

        .c-button {
          width: 100%;

          @media #{$mq-tablet} {
            width: auto;
            margin: 40px 0 25px;
          }
        }
      }

      .country-data-description {
        color: $color-3;
        font-family: $font-family-1;
        font-weight: $font-weight-light;
      }

      .c-switcher {
        max-width: 175px;
        margin: 0 0 0 auto;
      }
    }

    .l-switcher {
      display: flex;
      justify-content: center;
      padding: 20px 0 45px;
      background: rgba($color-5, .1);

      .c-switcher {
        max-width: 175px;
        margin: 0 auto;

        @media #{$mq-tablet} {
          max-width: none;
        }
      }
    }
  }

  .l-content {
    margin: -20px 0 0;

    @media #{$mq-laptop} {
      margin: -125px 0 90px;
    }

    .l-switcher {
      .container {
        display: flex;
        justify-content: flex-end;
        margin: 0 0 20px;
      }
    }

    .l-indicator-grid {

      // We want the cards to have the same height and the wigdet's toolbar
      // to be aligned at the bottom
      .widgets-list {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        min-height: 500px;

        > div {
          margin-bottom: 20px;

          > .c-widget {
            height: 100%;
            margin: 0;

            > .c-chart-widget {
              display: flex;
              flex-direction: column;
              height: 100%;

              > .chart {
                flex-grow: 1;
              }
            }
          }
        }
      }

      .footer-indicator-grid {
        display: flex;
        flex-direction: column;

        @media #{$mq-laptop} {
          flex-direction: row;
          justify-content: space-between;
          margin: 10px 0 0;
        }

        > .indicator-options {
          display: flex;
          flex-direction: column;

          @media #{$mq-laptop} {
            flex-direction: row;
          }
        }

        .indicator-options > .c-button {
          width: 100%;

          &:not(:first-child) {
            margin: 10px 0 0;
          }

          @media #{$mq-laptop} {
            width: auto;

            &:not(:first-child) {
              margin: 0 0 0 10px;
            }
          }
        }

        .container-custom-indicators > .c-button {
          width: 100%;
          margin: 10px 0;

          &:not([disabled]) {
            box-shadow: 0 2px 3px 0 rgba($color-6, .15);
          }

          @media #{$mq-laptop} {
            width: auto;
            margin: 0;
          }
        }
      }
    }
  }
}
