.l-details-page {

  .l-content {
    margin: 40px 0 50px;

    // If you want to change the styles of the WYSIWYG content
    // place the styles in .c-article instead

    .l-related-section {
      margin: 65px 0 50px;

      .l-card-grid {
        margin: 20px 0 0;
      }
    }
  }
}
