
.l-homepage {

  .c-hero > .title {
    max-width: 556px;
  }

  > .homepage-section {
    background-repeat: no-repeat;
    background-position: center;

    > .wrapper {
      display: flex;
      position: relative;
      align-items: center;
    }

    &.-government {

      > .wrapper {
        justify-content: flex-end;
      }

      > .wrapper > img {
        position: absolute;
        top: 50%;
        left: $wrapper-padding-desktop;
        transform: translate(calc(-50% + 525px / 2), calc(-50% + 8px));
      }

      > .wrapper > .c-card {
        transform: translate(0, -50px);
      }
    }

    &.-researcher {
      padding: 55px 0 85px;

      > .wrapper {
        justify-content: flex-start;
      }

      > .wrapper > img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
      }
    }

    &.-fsp-tech {
      padding: 0 0 95px;

      > .wrapper {
        justify-content: flex-end;
      }

      > .wrapper > img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        z-index: -1;
      }
    }
  }
}
