
.l-homepage {

  .c-header .app-logo > a > img {
    width: auto;
    height: auto;
  }

  .c-hero > .title {
    max-width: 800px;
  }

  > .homepage-section {
    > .wrapper {
      @media #{$mq-laptop} {
        display: flex;
      }
    }

    &.-government {
      background-color: $color-4;
      background-image: asset-url('homepage/home-bg-1-b.svg');
      background-repeat: no-repeat;
      background-position: top 25px left;
      background-size: auto 200px;

      @media #{$mq-tablet} {
        background-position: top 60px center;
        background-size: auto 230px;
      }

      @media #{$mq-laptop} {
        background-color: transparent;
        background-position: top 90px center;
        background-size: auto 260px;
      }

      > .wrapper {
        justify-content: flex-end;
        padding-top: 240px;
        background-image: asset-url('homepage/home-bg-1-a.svg');
        background-repeat: no-repeat;
        background-position: top 25px center;
        background-size: auto 200px;

        @media #{$mq-tablet} {
          padding-top: 290px;
          background-position: top 60px center;
          background-size: auto 230px;
        }

        @media #{$mq-laptop} {
          padding-top: 0;
          background-color: transparent;
          background-position: top 90px right 747px;
          background-size: auto 260px;
        }
      }

      .c-card-highlight {
        @media #{$mq-laptop} {
          transform: translate(0, -50px);
        }
      }
    }

    &.-researcher {

      > .wrapper {
        justify-content: flex-start;
        padding-top: 240px;
        background-image: asset-url('homepage/home-bg-2.svg');
        background-repeat: no-repeat;
        background-position: top 40px center;
        background-size: auto 200px;

        @media #{$mq-tablet} {
          padding-top: 310px;
          background-position: top 50px center;
          background-size: auto 260px;
        }

        @media #{$mq-laptop} {
          padding-top: 55px;
          padding-bottom: 85px;
          background-position: bottom 90px right;
          background-size: auto 500px;
        }
      }
    }

    &.-fsp-tech {
      background-color: $color-4;

      @media #{$mq-laptop} {
        padding: 0 0 95px;
        background-color: transparent;
      }

      > .wrapper {
        justify-content: flex-end;
        padding-top: 160px;
        background-image: asset-url('homepage/home-bg-3.svg');
        background-repeat: no-repeat;
        background-position: top 40px center;
        background-size: auto 110px;

        @media #{$mq-laptop} {
          padding-top: 200px;
          background-size: auto 200px;
        }

        @media #{$mq-laptop} {
          padding-top: 0;
          background-position: center left;
          background-size: auto 200px;
        }
      }
    }
  }
}
