
.l-homepage {

  .c-hero > .title {
    max-width: 50%;
  }

  > .contribute-section {
    padding: 75px 0;
    background-image: image-url('photo_contact.png');
    background-position: no-repeat;
    background-size: cover;

    .content {
      max-width: 50%;

      > .title {
        margin: 0 0 25px;
      }

      > .c-button {
        margin: 35px 0 0;
        box-shadow: 0 2px 3px 0 rgba($color-6, .15);
      }
    }
  }
}
