.l-library {
  margin: 0 0 40px;

  .initiatives-link {
    position: relative;
    display: inline-block;
    margin: 0 0 10px;

    font-size: $font-size-regular;
    font-weight: $font-weight-bold;
    color: $color-2;
    text-transform: uppercase;

    &::before {
      @include arrow(11px, 2px, $color-2, 'left');
      margin-right: 10px;
    }
  }

  .l-library-content-selector {
    $selector-spacing: 6px;
    display: flex;
    position: relative;
    align-items: center;
    transform: translateY($selector-spacing);

    &::before {
      position: absolute;
      top: $selector-spacing;
      right: 0;
      bottom: $selector-spacing;
      left: 0;
      background: rgba($color-6, .5);
      content: '';
    }

    > .wrapper {
      padding: 0;
      overflow: auto;

      .row {
        width: 100%;
        margin: 0;
        -webkit-overflow-scrolling: touch;
      }

      .selectors-container {
        display: flex;
        align-items: stretch;
        width: auto;
        padding: 0 $wrapper-padding-mobile 3px $wrapper-padding-mobile; // 3px for te button's shadow

        @media #{$mq-tablet} {
          padding: 0 0 3px;
        }
      }

      @media #{$mq-tablet} {
        padding: 0 $wrapper-padding-tablet;
      }

      @media #{$mq-laptop} {
        padding: 0 $wrapper-padding-desktop;
      }

    }
  }

  .l-library-content-selector .content-selector {
    @extend .c-button;
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    color: $color-2;
    font-weight: $font-weight-bold;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: $color-2;
      opacity: 1;
    }

    &:not(:last-child) {
      margin: 0 25px 0 0;
    }

    &.-current {
      background: $color-4;
      color: $color-1;
      box-shadow: 0 2px 3px 0 rgba($color-6, .15);
    }
  }

  .l-subcategory-filter {
    margin: 40px 0 28px;
    text-align: center;

    @media #{$mq-tablet} {
      text-align: right;
    }

    .filter {
      padding: 0;

      color: rgba($color-5, .5);
      font-family: $font-family-1;
      font-size: $font-size-s;
      font-weight: $font-weight-bold;

      cursor: pointer;

      &.-applied {
        position: relative;
        color: $color-1;

        &::after {
          display: inline-block;
          position: absolute;
          bottom: -2px;
          left: 50%;
          width: 100%;
          height: 2px;
          transform: translate(-50%, 0);
          background: $color-1;
          content: '';
        }
      }
    }

    span {
      color: rgba($color-5, .5);
      font-family: $font-family-1;
      font-size: $font-size-s;
    }
  }

  .heading {
    margin: 0 0 40px;
  }

  // .l-card-grid {
  //   margin: 30px 0 0;
  // }
}
