
.l-library {
  margin: 0 0 40px;

  .l-library-content-selector {
    display: flex;
    align-items: center;
    height: 33px;

    background: rgba($color-6, .1);
  }

  .l-library-content-selector .content-selector {
    @extend .c-button;
    height: 48px;
    border: 0;
    background: transparent;

    color: $color-2;
    font-family: $font-family-2;

    cursor: pointer;

    &:not(:first-child) {
      margin: 0 0 0 40px;
    }

    &.-current {
      background: $color-4;
      color: $color-1;
      box-shadow: 0 2px 3px 0 rgba($color-6, .15);
    }
  }

  .l-card-grid {
    margin: 60px 0 0;
  }
}
