.l-national-surveys {

  .l-library-content-selector .content-selector:not(:last-child) {
    margin: 0 30px 0 0 !important;
  }

  .l-library-content-selector {
    transform: translateY(8px) !important;

    &::before {
      background: none !important;
      content: none !important;
    }
    .wrapper {
      @media #{$mq-tablet} {
        padding: 0 $wrapper-padding-tablet;
      }

      @media #{$mq-laptop} {
        padding: 0 90px !important;
      }

      .content-selector {
        flex-shrink: 0;
      }
    }
  }

  .content-selector {
    padding: 12px 0px !important;

    &.-current {
      padding: 12px 20px !important;
    }
  }

  svg.icon.tab-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;

    path {
      fill: #f9d031;
    }

    &.-current {
      path {
        fill: #257B83;
      }
    }
  }

  .l-content {
    padding-top: 35px;

    section {
      &:not(:first-child) {
        margin: 40px 0 0;

        @media #{$mq-laptop} {
          margin-top: 30px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 60px;
      }

      &.l-country-list {
        border-top: 1px solid rgba($color-1, .2);

        > header {
          margin: 75px 0 0;
        }
      }

      .l-card-grid {
        margin: 40px 0 0;
      }
    }
  }
}
