.l-preview-country {
  > .fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $color-1;
    z-index:  10;

    &.-hidden {
      display: none;
    }
  }

  .dataset {
    &:not(:first-child) {
      margin-top: 50px;
      padding-top: 40px;
      border-top: 1px solid rgba($color-1, .2);
    }

    .dataset-description {
      margin-bottom: 20px;
    }

    .dataset-button {
      width: 100%;
      margin-top: 20px;

      @media #{$mq-tablet} {
        width: auto;
      }
    }
  }
}
