@import '_settings';
@import '_mixins';

.c-menu-item {
  width: 100%;

  > .menu-item-header {
    display: flex;
    padding: 20px 30px 15px 55px;
    cursor: pointer;
    outline: none;

    .title {
      position: relative;
      padding-left: 20px;
      font-weight: 400;
      color: $color-6;
      font-size: 20px;

      &:before {
          @include triangle(6px, $color-1, 'left');
          content: '';
          position: absolute;
          top: 50%;
          left: 0px;
          transform: translate(0, -50%);
        }
    }

    .description {
      color: $color-12;
    }

    &:hover {
      .title {
        text-decoration: underline;
      }
    }
  }
}
