@mixin triangle($size, $color, $direction) {
  width: 0;
  height: 0;
  font-size: 0;
	line-height: 0;

  @if($direction == 'up') {
    border-top: 0;
    border-left: $size solid transparent;  /* left arrow slant */
    border-right: $size solid transparent; /* right arrow slant */
    border-bottom: $size solid $color; /* bottom, add background color here */
  }

  @if($direction == 'right') {
    border-right: 0;
    border-bottom: $size solid transparent;  /* left arrow slant */
    border-top: $size solid transparent; /* right arrow slant */
    border-left: $size solid $color; /* bottom, add background color here */
  }

  @if($direction == 'down') {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  }

  @if($direction == 'left') {
    border-left: 0;
    border-bottom: $size solid transparent;  /* left arrow slant */
	  border-top: $size solid transparent; /* right arrow slant */
	  border-right: $size solid $color; /* bottom, add background color here */
  }
}

.c-menu-item {
  width: 100%;

  > .menu-item-header {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 20px 30px 15px 55px;
    cursor: pointer;
    outline: none;

    .title {
      position: relative;
      width: 100%;
      padding: 0 0 0 15px;
      font-size: 14px;
      font-weight: 400;
      color: #000;

      > .arrow {
        display: inline-flex;
  
        &:before {
          content: '';
          @include triangle(6px, #2F939C, 'right');
        }
      }
    }

    .description {
      color: #737780;
    }

    &:hover {
      .title {
        text-decoration: underline;
      }
    }
  }
}
