.c-map {
  position: absolute;
  top: 0;
  left: 330px;
  right: 0;
  height: 800px;

  &.-open {
    left: 50%;
  }

  .custom-map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .custom-container-map-controls {
    > ul {
      > li {
        border: 0;
        border-radius: none;
        background: none;
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .09)
      }
    }

    .custom-map-controls {
      > button {
        display: flex;
        justify-content: center;
        align-content: center;

        width: 30px;
        height: 30px;
        padding: 0;
        background: #fff;

        cursor: pointer;

        &:not(:first-child) {
          margin: 1px 0 0;
        }

        &:disabled {
          cursor: default;
        }

        &:not(:disabled) {
          &:hover {
            background: darken(#fff, 5%);
          }
        }

        > svg {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}
