<div class="js-masonry-cards">
  <% insights.each do |insight| %>
    <div class="grid-s-12 grid-m-6 grid-l-4 library js-masonry-item">
      <% if insight.record_type != 'library' %>
        <%= render partial: "shared/cards/insight", locals: { insight: insight }%>
      <% elsif insight.record_type == 'library' %>
        <%= render partial: "shared/cards/library", locals: { library: insight }%>
      <% end %>
    </div>
  <% end %>
</div>
