<div class="c-contribute-section">
  <div class="wrapper">
    <div class="row">
      <div class="grid-s-12">
        <div class="grid-s-12 grid-l-6">
          <h2 class="title -dark -big">Contribute</h2>
          <p>Lorem ipsum ullam id dolor id nibh ultricies vehicula ut id elit.
            Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida
            at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
          </p>
        </div>
      </div>
      <div class="grid-s-12">
        <div class="grid-s-12 grid-m-4 grid-l-2">
          <a href="<%= about_path %>" class="c-button -white">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</div>
