<div class="c-contribute-section">
  <div class="wrapper">
    <div class="row">
      <div class="grid-s-12">
        <div class="grid-s-12 grid-m-8 grid-l-6">
          <h2 class="title -dark -big">Contribute</h2>
          <p>Can’t find what you are looking? Know about a financial dataset that is not currently available on our data portal that we should add? Are there more indicators you would like to see visualised? Please write to us and give us your feedback at <a href="mailto:<%= ENV['I2I_MAIL'] %>"><%= ENV['I2I_MAIL'] %>.</a>
          </p>
        </div>
      </div>
      <div class="grid-s-12">
        <a href="<%= about_path %>#contact" class="c-button -medium -white">Contact us</a>
      </div>
    </div>
  </div>
</div>
