<div class="l-covid-notification js-notification">
  <div class="wrapper">
    <div class="row">
      <div class="grid-s-12">
        <p>We have launched a COVID-19 Tracker, The survey themes include health and risk behaviours, food security, income, work and job security, personal safety concerns, and access to government and community support. <a href="http://www.covid19tracker.africa/">www.covid19tracker.africa</a></p>
      </div>
    </div>
  </div>
</div>
