<svg class="_is-hidden">
  <symbol id="icon-youtube" viewBox="0 0 45 32">
    <title>youtube</title>
    <path d="M43.743 5.149c-0.545-2.444-2.481-4.244-4.813-4.512-5.519-0.636-11.106-0.639-16.667-0.636-5.562-0.002-11.151 0-16.67 0.636-2.328 0.268-4.265 2.069-4.808 4.512-0.776 3.476-0.785 7.271-0.785 10.851s0 7.377 0.777 10.853c0.543 2.441 2.479 4.244 4.81 4.512 5.519 0.634 11.105 0.639 16.667 0.634 5.564 0.004 11.151 0 16.668-0.634 2.331-0.268 4.267-2.071 4.813-4.512 0.776-3.476 0.778-7.273 0.778-10.853s0.007-7.375-0.77-10.851zM16 23.020v-13.42c4.716 2.244 9.403 4.471 14.15 6.73-4.734 2.238-9.421 4.455-14.15 6.691z"></path>
  </symbol>
  <symbol id="icon-instagram" viewBox="0 0 32 32">
    <title>instagram</title>
    <path d="M15.995 0.010c4.344 0 4.889 0.018 6.595 0.096 1.702 0.078 2.865 0.348 3.883 0.744 1.052 0.409 1.944 0.956 2.833 1.845s1.436 1.781 1.845 2.833c0.395 1.017 0.666 2.18 0.743 3.883 0.078 1.706 0.096 2.251 0.096 6.595s-0.018 4.889-0.096 6.595c-0.078 1.702-0.348 2.865-0.743 3.883-0.409 1.052-0.956 1.944-1.845 2.833s-1.781 1.436-2.833 1.845c-1.017 0.395-2.18 0.666-3.883 0.743-1.706 0.078-2.251 0.096-6.595 0.096s-4.889-0.018-6.595-0.096c-1.702-0.078-2.865-0.348-3.883-0.743-1.052-0.409-1.944-0.956-2.833-1.845s-1.436-1.781-1.845-2.833c-0.395-1.017-0.666-2.18-0.744-3.883-0.078-1.706-0.096-2.251-0.096-6.595s0.018-4.889 0.096-6.595c0.078-1.702 0.348-2.865 0.744-3.883 0.409-1.052 0.956-1.944 1.845-2.833s1.781-1.436 2.833-1.845c1.017-0.395 2.18-0.666 3.883-0.744 1.706-0.078 2.251-0.096 6.595-0.096zM15.995 22.229c3.437 0 6.224-2.787 6.224-6.224s-2.787-6.224-6.224-6.224c-3.437 0-6.224 2.787-6.224 6.224s2.787 6.224 6.224 6.224zM24.533 9.386c1.060 0 1.919-0.859 1.919-1.919s-0.859-1.919-1.919-1.919c-1.060 0-1.919 0.859-1.919 1.919s0.859 1.919 1.919 1.919z"></path>
  </symbol>
  <symbol id="icon-twitter" viewBox="0 0 37 32">
    <title>twitter</title>
    <path d="M31.436 2.549c-1.394-1.569-3.385-2.549-5.59-2.549-4.226 0-7.656 3.617-7.656 8.078 0 0.634 0.066 1.248 0.197 1.839-6.366-0.337-12.008-3.55-15.788-8.443-0.66 1.198-1.037 2.587-1.037 4.066 0 2.801 1.352 5.274 3.408 6.723-1.254-0.039-2.437-0.406-3.472-1.007v0.098c0 3.916 2.641 7.182 6.147 7.921-0.642 0.19-1.32 0.285-2.019 0.285-0.493 0-0.975-0.049-1.441-0.144 0.975 3.208 3.802 5.545 7.154 5.607-2.621 2.167-5.925 3.459-9.512 3.459-0.618 0-1.229-0.037-1.827-0.111 3.389 2.288 7.417 3.626 11.741 3.626 14.090 0 21.792-12.307 21.792-22.984 0-0.352-0.006-0.702-0.019-1.047 1.496-1.139 2.796-2.561 3.819-4.181-1.372 0.642-2.849 1.077-4.398 1.271 1.582-0.999 2.796-2.582 3.368-4.468-1.481 0.925-3.118 1.597-4.867 1.957z"></path>
  </symbol>
  <symbol id="icon-linkedln" viewBox="0 0 34 32">
    <title>linkedln</title>
    <path d="M0.869 10.261h6.717v21.739h-6.717v-21.739zM25.937 10.052c4.774 0 8.524 3.127 8.524 9.861v12.087h-7.616v-11.249c0-2.945-1.191-4.954-3.811-4.954-2.004 0-3.118 1.356-3.637 2.663-0.194 0.469-0.164 1.123-0.164 1.777v11.763h-7.545c0 0 0.097-19.927 0-21.739h7.545v3.412c0.446-1.492 2.857-3.621 6.705-3.621zM4.103 0c2.478 0 4.002 1.623 4.051 3.768 0 2.107-1.572 3.775-4.097 3.775h-0.049c-2.431 0-4.008-1.662-4.008-3.769 0-2.147 1.623-3.774 4.103-3.774z"></path>
  </symbol>
  <symbol id="icon-facebook" viewBox="0 0 19 32">
    <title>facebook</title>
    <path d="M17.965 0.006l-4.478-0.006c-5.030 0-8.282 3.091-8.282 7.875v3.632h-4.503c-0.388 0-0.703 0.291-0.703 0.652v5.262c0 0.359 0.316 0.652 0.703 0.652h4.503v13.276c0 0.359 0.316 0.652 0.705 0.652h5.872c0.389 0 0.705-0.293 0.705-0.652v-13.276h5.264c0.389 0 0.704-0.293 0.704-0.652l0.003-5.262c0-0.172-0.075-0.338-0.207-0.462-0.132-0.122-0.31-0.19-0.498-0.19h-5.265v-3.079c0-1.479 0.381-2.231 2.459-2.231l3.017-0.002c0.389 0 0.703-0.293 0.703-0.652v-4.885c0-0.361-0.314-0.652-0.701-0.654z"></path>
  </symbol>
  <symbol id="icon-external-open" viewBox="0 0 24 24">
    <title>extenal-open</title>
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/>
  </symbol>
</svg>
