<div class="c-newsletter-section">
  <div class="wrapper">
    <div class="row">
      <div class="grid-s-12">
        Subscribe to our newsletter & stay updated <button type="button" class="c-button -white -mini js-subscribe">Subscribe</button>
      </div>
    </div>
  </div>
</div>
