<div class="l-library">
  <div class="l-intro" style="background-image: url(images/headers/header-bg-library.jpg)">
    <%= render partial: 'shared/header'%>

    <div class="l-title">
      <div class="wrapper">
        <div class="row">
          <div class="c-hero">
            <div class="grid-l-6">
              <h1 class="title -light -huge">i2i Library</h1>
              <p class="subtitle">Description text. Lorem ipsum sit amet ornare
                sem lacinia quam venenatis vestibulum.</p>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="l-library-content-selector">
      <div class="wrapper">
        <div class="row">
          <div class="grid-s-6 grid-m-4 grid-l-2">
            <button class="content-selector -current">Publications</button>
          </div>
          <div class="grid-s-6 grid-m-4 grid-l-2">
            <button class="content-selector ">Journal</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-card-grid">
    <div class="wrapper">
      <div class="row">
        <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
          <div class="c-card -small">
            <div class="picture">
              <img src="images/placeholders/placeholder_1.jpg" alt="placeholder_1">
            </div>
            <div class="metadata">
              <p>Publication title lorem ipsum id elit</p>
              <div class="card-options">
                <a href="#" class="title -sea -small">download</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
          <div class="c-card -small">
            <div class="picture">
              <img src="images/placeholders/placeholder_2.jpg" alt="placeholder_2">
            </div>
            <div class="metadata">
              <p>Publication title lorem ipsum id elit</p>
              <div class="card-options">
                <a href="#" class="title -sea -small">download</a>
                <a href="#" class="title -sea -small">watch video</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
          <div class="c-card -small">
            <div class="picture">
              <img src="images/placeholders/placeholder_3.jpg" alt="placeholder_3">
            </div>
            <div class="metadata">
              <p>Publication title lorem ipsum id elit</p>
              <div class="card-options">
                <a href="#" class="title -sea -small">download</a>
                <a href="#" class="title -sea -small">watch video</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
          <div class="c-card -small">
            <div class="picture">
              <img src="images/placeholders/placeholder_4.jpg" alt="placeholder_4">
            </div>
            <div class="metadata">
              <p>Publication title lorem ipsum id elit</p>
              <div class="card-options">
                <a href="#" class="title -sea -small">download</a>
                <a href="#" class="title -sea -small">watch video</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
          <div class="c-card -small">
            <div class="picture">
              <img src="images/placeholders/placeholder_5.jpg" alt="placeholder_5">
            </div>
            <div class="metadata">
              <p>Publication title lorem ipsum id elit</p>
              <div class="card-options">
                <a href="#" class="title -sea -small">download</a>
                <a href="#" class="title -sea -small">watch video</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
          <div class="c-card -small">
            <div class="picture">
              <img src="images/placeholders/placeholder_6.jpg" alt="placeholder_6">
            </div>
            <div class="metadata">
              <p>Publication title lorem ipsum id elit</p>
              <div class="card-options">
                <a href="#" class="title -sea -small">download</a>
                <a href="#" class="title -sea -small">watch video</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
          <div class="c-card -small">
            <div class="picture">
              <img src="images/placeholders/placeholder_7.jpg" alt="placeholder_7">
            </div>
            <div class="metadata">
              <p>Publication title lorem ipsum id elit</p>
              <div class="card-options">
                <a href="#" class="title -sea -small">download</a>
                <a href="#" class="title -sea -small">watch video</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
          <div class="c-card -small">
            <div class="picture">
              <img src="images/placeholders/placeholder_1.jpg" alt="placeholder_1">
            </div>
            <div class="metadata">
              <p>Publication title lorem ipsum id elit</p>
              <div class="card-options">
                <a href="#" class="title -sea -small">download</a>
                <a href="#" class="title -sea -small">watch video</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= link_to 'Show', library %></td>
        <td><%= link_to 'Edit', edit_library_path(library) %></td>
        <td><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
