<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>

(function (App) {
  App.Component.ModalDownloadAll = App.Component.Modal.extend({

    contentTemplate: JST['templates/data_portal/modals/modal-download-all'],

    defaults: {
      // See App.Component.Modal for details about this option
      title: 'Download All',
      // See App.Component.Modal for details about this option
      showTitle: true,
      // See App.Component.Modal for details about this option
      footer: '<div class="group-button"><button class="c-button -white js-close">Close</button></div><div class="group-button"><button class="c-button -white js-continue">Continue</button></div>'
    },

    events: function () {
      return _.extend({}, App.Component.Modal.prototype.events, {
        'click .js-close': 'onCloseModal',
        'click .js-continue': '_onContinue'
      });
    },

    initialize: function (options) {
      this.constructor.__super__.initialize.call(this, options);
      this.render();
    },

    _setFormVars: function () {
      this.form = this.el.querySelector('form');

      this.emailField = this.form.querySelector('.js-email');
      this.termsCheckbox = this.form.querySelector('.js-terms');

      this.continueButton = this.el.querySelector('.js-continue');
    },

    _setFormEventListeners: function () {
      this.emailField.addEventListener('keyup', this._validationForm.bind(this));
      this.termsCheckbox.addEventListener('change', this._validationForm.bind(this));
    },

    /**
     * Sends email request
     */
    _sendRequest: function() {
      var oReq = new XMLHttpRequest(),
        params = new FormData();

      params.append('email', this.emailField.value);
      params.append('country', this.options.iso);
      params.append('year', this.options.year);

      oReq.open("POST", "<%= contacts_path %>", true);
      oReq.send(params);
    },

    _onContinue: function () {
      var country = App.Helper.Indicators.COUNTRIES[this.options.iso];
      App.Helper.Analytics.sendEvent('Download', 'Download from Data Portal', country);

      this._sendRequest();
      this.constructor.__super__.onCloseModal.apply(this);
    },

    /**
     * Validates if email is filled properly and terms and conditions are accepted
     */
    _validationForm: function () {
      if (this.emailField.checkValidity() && this.termsCheckbox.checked) {
        this.continueButton.removeAttribute('disabled');
      } else {
        this.continueButton.setAttribute('disabled', 'disabled');
      }
    },

    afterRender: function () {
      this.constructor.__super__.afterRender.apply(this);
      this._setFormVars();
      this._setFormEventListeners();
      this._validationForm();
    },

    render: function () {
      this.options.content = this.contentTemplate({
        termsLink: '<%= terms_of_use_path %>'
      });

      this.constructor.__super__.render.apply(this);
    }
  });
}).call(this, this.App);
