.c-menu-items {
  width: 100%;

  .menu-items-item {
    padding: 20px 30px 20px 55px;
    cursor: pointer;
    border-top: 1px solid #EEE;

    &:first-child {
      border-top: none;
    }

    .title {
      position: relative;
      font-size: 14px;
      font-weight: normal;
      color: #000000;

      &:before {
        // @include arrow(8px, 2px, #2F939C, 'right');
        margin-right: 10px;
      }
    }

    .description {
      padding: 10px 0 0;
      font-size: 14px;
      color: #2F939C;
      font-weight: 600;
      line-height: 1.35;
    }
  }
}
