<div class="l-news">
  <div class="l-intro" style="background-image: url(images/headers/header-bg-news.jpg)">
    <%= render partial: 'shared/header'%>

    <div class="l-title">
      <div class="wrapper">
        <div class="row">
          <div class="c-hero">
            <div class="grid-l-6">
              <h1 class="title -light -huge">News</h1>
              <p class="subtitle">Description text. Lorem ipsum sit amet ornare
                sem lacinia quam venenatis vestibulum.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="wrapper">
      <div class="card-grid -news">
        <div class="row">
          <div class="grid-s-12 grid-m-6 grid-l-8">
            <div class="c-card -highlighted">
              <div class="picture">
                <img src="images/placeholders/placeholder_1.jpg" alt="placeholder_1">
              </div>
              <div class="metadata">
                <h4 class="title -sea -small">sept 23, 2014</h4>
                <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
              </div>
            </div>
          </div>
          <div class="grid-s-12 grid-m-6 grid-l-4">
            <div class="c-card -medium">
              <div class="picture">
                <img src="images/placeholders/placeholder_2.jpg" alt="placeholder_2">
              </div>
              <div class="metadata">
                <h4 class="title -sea -small">sept 23, 2014</h4>
                <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
              </div>
            </div>
          </div>
          <div class="grid-s-12 grid-m-6 grid-l-4">
            <div class="c-card -medium">
              <div class="picture">
                <img src="images/placeholders/placeholder_3.jpg" alt="placeholder_3">
              </div>
              <div class="metadata">
                <h4 class="title -sea -small">sept 23, 2014</h4>
                <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
              </div>
            </div>
          </div>
          <div class="grid-s-12 grid-m-6 grid-l-4">
            <div class="c-card -medium">
              <div class="picture">
                <img src="images/placeholders/placeholder_4.jpg" alt="placeholder_4">
              </div>
              <div class="metadata">
                <h4 class="title -sea -small">sept 23, 2014</h4>
                <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
              </div>
            </div>
          </div>
          <div class="grid-s-12 grid-m-6 grid-l-4">
            <div class="c-card -medium">
              <div class="picture">
                <img src="images/placeholders/placeholder_5.jpg" alt="placeholder_5">
              </div>
              <div class="metadata">
                <h4 class="title -sea -small">sept 23, 2014</h4>
                <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
              </div>
            </div>
          </div>
          <div class="grid-s-12 grid-m-6 grid-l-4">
            <div class="c-card -medium">
              <div class="picture">
                <img src="images/placeholders/placeholder_6.jpg" alt="placeholder_6">
              </div>
              <div class="metadata">
                <h4 class="title -sea -small">sept 23, 2014</h4>
                <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
              </div>
            </div>
          </div>
          <div class="grid-s-12">
            <div class="grid-footer">
              <div class="grid-s-12 grid-m-4 grid-l-3">
                <a href="#" class="c-button btn-more">More news</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="events-section">
        <h2 class="title -dark -big">Events</h2>
        <div class="card-grid">
          <div class="row">
            <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
              <div class="c-card -small">
                <div class="picture">
                  <img src="images/placeholders/placeholder_1.jpg" alt="placeholder_1">
                </div>
                <div class="metadata">
                  <h4 class="title -sea -small">sept 23, 2014</h4>
                  <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
                </div>
              </div>
            </div>
            <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
              <div class="c-card -small">
                <div class="picture">
                  <img src="images/placeholders/placeholder_2.jpg" alt="placeholder_2">
                </div>
                <div class="metadata">
                  <h4 class="title -sea -small">sept 23, 2014</h4>
                  <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
                </div>
              </div>
            </div>
            <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
              <div class="c-card -small">
                <div class="picture">
                  <img src="images/placeholders/placeholder_3.jpg" alt="placeholder_3">
                </div>
                <div class="metadata">
                  <h4 class="title -sea -small">sept 23, 2014</h4>
                  <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
                </div>
              </div>
            </div>
            <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
              <div class="c-card -small">
                <div class="picture">
                  <img src="images/placeholders/placeholder_4.jpg" alt="placeholder_4">
                </div>
                <div class="metadata">
                  <h4 class="title -sea -small">sept 23, 2014</h4>
                  <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
                </div>
              </div>
            </div>
            <div class="grid-s-12">
              <div class="grid-footer">
                <div class="grid-s-12 grid-m-4 grid-l-3">
                  <a href="#" class="c-button btn-more">More news</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="blog-section">
        <h2 class="title -dark -big">Blog</h2>
          <div class="card-grid">
            <div class="row">
              <div class="grid-s-12">
                <div class="c-card -horizontal">
                  <div class="picture">
                    <img src="images/placeholders/placeholder_3.jpg" alt="placeholder_3">
                  </div>
                  <div class="metadata">
                    <h4 class="title -sea -small">sept 23, 2014</h4>
                    <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur.</p>
                  </div>
                </div>
              </div>
              <div class="grid-s-12">
                <div class="c-card -horizontal -reverse">
                  <div class="picture">
                    <img src="images/placeholders/placeholder_4.jpg" alt="placeholder_4">
                  </div>
                  <div class="metadata">
                    <h4 class="title -sea -small">sept 23, 2014</h4>
                    <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur.</p>
                  </div>
                </div>
              </div>
              <div class="grid-s-12">
                <div class="c-card -horizontal">
                  <div class="picture">
                    <img src="images/placeholders/placeholder_5.jpg" alt="placeholder_5">
                  </div>
                  <div class="metadata">
                    <h4 class="title -sea -small">sept 23, 2014</h4>
                    <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur.</p>
                  </div>
                </div>
              </div>
              <div class="grid-s-12">
                <div class="c-card -horizontal -reverse">
                  <div class="picture">
                    <img src="images/placeholders/placeholder_6.jpg" alt="placeholder_6">
                  </div>
                  <div class="metadata">
                    <h4 class="title -sea -small">sept 23, 2014</h4>
                    <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur.</p>
                  </div>
                </div>
              </div>
              <div class="grid-s-12">
                <div class="grid-footer">
                  <div class="grid-s-12 grid-m-4 grid-l-3">
                    <a href="#" class="c-button btn-more">More posts</a>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<tbody>
  <% @news.each do |news| %>
    <tr>
      <td><%= link_to 'Show', news %></td>
      <td><%= link_to 'Edit', edit_news_path(news) %></td>
      <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
