<div class="l-news">
  <div class="l-intro" style="background-image: url(images/headers/header-bg-news.jpg)">
    <div class="wrapper">
        <%= render partial: 'shared/header'%>
      <div class="c-hero">
        <h1 class="title -light -huge">News</h1>
        <p class="subtitle">Description text. Lorem ipsum sit amet ornare sem
          lacinia quam venenatis vestibulum.</a>
        </p>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="row">
      <div class="l-card-grid -news">
        <div class="c-card -important">
          <div class="picture"></div>
          <div class="metadata">
            <h4 class="title -sea -small">sept 23, 2014</h4>
            <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
          </div>
        </div>

        <div class="c-card">
          <div class="picture"></div>
          <div class="metadata">
            <h4 class="title -sea -small">sept 23, 2014</h4>
            <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
          </div>
        </div>

        <div class="c-card">
          <div class="picture"></div>
          <div class="metadata">
            <h4 class="title -sea -small">sept 23, 2014</h4>
            <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
          </div>
        </div>

        <div class="c-card">
          <div class="picture"></div>
          <div class="metadata">
            <h4 class="title -sea -small">sept 23, 2014</h4>
            <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
          </div>
        </div>

        <div class="c-card">
          <div class="picture"></div>
          <div class="metadata">
            <h4 class="title -sea -small">sept 23, 2014</h4>
            <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
          </div>
        </div>

        <div class="c-card">
          <div class="picture"></div>
          <div class="metadata">
            <h4 class="title -sea -small">sept 23, 2014</h4>
            <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
          </div>
        </div>

        <div class="c-card">
          <div class="picture"></div>
          <div class="metadata">
            <h4 class="title -sea -small">sept 23, 2014</h4>
            <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
          </div>
        </div>

      </div>
      <a href="#" class="c-button -big btn-more">More news</a>
    </div>
    <div class="row">
      <section class="events-section">
        <h2 class="title -dark -big">Events</h2>

        <div class="l-card-grid -events">
          <div class="c-card -small">
            <div class="picture"></div>
            <div class="metadata">
              <h4 class="title -sea -small">sept 23, 2014</h4>
              <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
            </div>
          </div>

          <div class="c-card -small">
            <div class="picture"></div>
            <div class="metadata">
              <h4 class="title -sea -small">sept 23, 2014</h4>
              <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
            </div>
          </div>

          <div class="c-card -small">
            <div class="picture"></div>
            <div class="metadata">
              <h4 class="title -sea -small">sept 23, 2014</h4>
              <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
            </div>
          </div>

          <div class="c-card -small">
            <div class="picture"></div>
            <div class="metadata">
              <h4 class="title -sea -small">sept 23, 2014</h4>
              <p>Lorem ipsum quisquam est qui dolorem ipsum quia dolor sit amet elent tur</p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="row">
      <section class="blog-section">
        <h2 class="title -dark -big">Blog</h2>
        <div class="l-card-grid -blog">
          <div class="c-card -horizontal">
            <div class="picture"></div>
            <div class="metadata">
              <h4 class="title -sea -small">sept 23, 2014</h4>
              <p>Summary text lorem ipsum id elit non mi porta gravida at eget metus.
                Aenean lacinia bibendum nulla sed consectetur al mei. lorem ipsum id
                elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla
                sed consectetur al mei.</p>
            </div>
          </div>

          <div class="c-card -horizontal -reverse">
            <div class="picture"></div>
            <div class="metadata">
              <h4 class="title -sea -small">sept 23, 2014</h4>
              <p>Summary text lorem ipsum id elit non mi porta gravida at eget metus.
                Aenean lacinia bibendum nulla sed consectetur al mei. lorem ipsum id
                elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla
                sed consectetur al mei.</p>
            </div>
          </div>

          <div class="c-card -horizontal">
            <div class="picture"></div>
            <div class="metadata">
              <h4 class="title -sea -small">sept 23, 2014</h4>
              <p>Summary text lorem ipsum id elit non mi porta gravida at eget metus.
                Aenean lacinia bibendum nulla sed consectetur al mei. lorem ipsum id
                elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla
                sed consectetur al mei.</p>
            </div>
          </div>

          <div class="c-card -horizontal -reverse">
            <div class="picture"></div>
            <div class="metadata">
              <h4 class="title -sea -small">sept 23, 2014</h4>
              <p>Summary text lorem ipsum id elit non mi porta gravida at eget metus.
                Aenean lacinia bibendum nulla sed consectetur al mei. lorem ipsum id
                elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla
                sed consectetur al mei.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>

<tbody>
  <% @news.each do |news| %>
    <tr>
      <td><%= link_to 'Show', news %></td>
      <td><%= link_to 'Edit', edit_news_path(news) %></td>
      <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
