.l-intro {
  position: relative;
  z-index: 3;

  > .nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index:  4;
  }

  > .fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $color-1;
    z-index:  0;
  }

  > .content {
    position: relative;
    background-color: $color-1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
