.c-fsp-intro {
  background: #2f939c;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;

  .intro-label {
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 14px;
  }

  .intro-main-value {
    font-size: 18px;
  }

  .intro-sub-value {
    margin-top: 10px;
    font-size: 14px;
  }
}
