
@import '_settings';
@import '_mixins';

.react-select-container {
  display: inline-block;

  .react-select__indicator-separator {
    display: none;
  }

  .react-select-indicator-container {
    position: relative;

  }

  .react-select-value {
    position: static;
  }
  .react-select__single-value {
    color: $color-4;
    position: relative;
    top: 2px;
    left: -3px;
  }

  .react-select__dropdown-indicator {
    padding: 3px;
    position: absolute;
    top: 0;
    right: 3px;
    color: transparent;
    &:before {
      content: '';
      position: absolute;
      top: 3px;
      right: 7px;
      pointer-events: none;
      @include arrow(7px, 2px, #F8D200, 'down');
    }
    &:hover {
      color: transparent;
    }
  }

  .react-select__control {
    border: none;
    border-radius: 9px;
    top: 7px;
    background-color: #14676E;
    min-height: inherit;
    height: 16px;
    padding: 0 7px;
    width: 100%;
    margin-top: 0;
    font-weight: bold;
  }

  .react-select__option {
    background-color: (20,103,110,0.75);
  }

  .react-select__option--is-selected {
    background-color: #14676E;
  }

  .react-select__option--is-focused {
    background-color: rgba(#14676E, .6)
  }
  .react-select__menu {
    color: white;
    border-radius: 9px;
  }

  .react-select__menu-list {
    color: white;
    background-color: rgba(#14676E, .5)
  }
  &:hover {
    background-color: rgba(#14676E, .6)
  }
}

