
@import '_settings';

@mixin arrow($size, $border-width, $color, $direction) {
  display: inline;
  width: $size;
  height: $size;
  border: $border-width solid $color;
  content: '';

  @if($direction == 'down') {
    transform: rotate(45deg);
    border-top: 0;
    border-left: 0;
  }
}

.react-select-container {
  display: inline-block;

  .react-select__indicator-separator {
    display: none;
  }

  .react-select-indicator-container {
    position: relative;

  }

  .react-select-value {
    position: static;
  }
  .react-select__single-value {
    color: $color-4;
    position: relative;
    top: 3px;
    left: -3px;
  }

  .react-select__dropdown-indicator {
    padding: 3px;
    position: absolute;
    top: 0;
    right: 3px;
    color: transparent;
    &:before {
      content: '';
      position: absolute;
      top: 3px;
      right: 7px;
      pointer-events: none;
      @include arrow(7px, 2px, #F8D200, 'down');
    }
  }

  .react-select__control {
    border: none;
    border-radius: 9px;
    background-color: #14676E;
    min-height: inherit;
    height: 17px;
    padding: 0 8px;
    width: 100%;
    margin-top: 0;
  }

  .react-select__menu {
    color: white;
    border-radius: 9px;
  }

  .react-select__menu-list {
    color: white;
    background-color: rgba(#14676E, .5)
  }

  .react-select__singleValue {
    background-color: red;
    color: red;
  }
}

