<div class="row">
  <div class="grid-s-12 _no-tablet">
    <div class="l-mobile-filters">
      <div class="wrapper">
        <div class="grid-s-12">
          <button class="toggle-filters-btn js-toggle-filters">More filters</button>
          <div class="content-veil js-content-veil">
            <%= render partial: 'data_portal_financial_diaries/demographic_filters' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
