<div class="c-switcher">
  <button type="button" data-type="households" class="js-content-tab switcher-option <% if (@type == 'households')%>-current<% end %>">Households (<%= @project_quantities[:number_households] %>)</button>
  <button type="button" data-type="individuals" class="js-content-tab switcher-option <% if (@type == 'individuals')%>-current<% end %>">Individuals (<%= @project_quantities[:number_individuals] %>)</button>
</div>
