<div class="c-switcher">
  <button type="button" data-type="households" class="js-content-tab switcher-option -current">Households (<%= @project_quantities[:number_households] %>)</button>
  <button type="button" data-type="individuals" class="js-content-tab switcher-option">Individuals (<%= @project_quantities[:number_individuals] %>)</button>
</div>
