.c-tabs {
  width: 330px;
  height: 10%;

  .tab {
    background-color: #2f939c;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
  }

  .selected {
    background-color: #ffffff;
    color: #000000;
  }
}
