.c-tabs {
  width: 100%;
  max-width: 330px;
  background-color: white;
  height: 54px;
  padding-bottom: 5px;
  box-sizing: content-box;
  border-bottom: 1px solid #D8D8D8;

  ul {
    display: flex;

    &:first-child {
      padding-left: 55px;
    }
  }

  .tab {
    display: flex;
    width: 100%;
    color: #001D22;
    text-align: center;
    font-size: 16px;
    padding: 18px 5px 0 0;
    margin-bottom: 10px;
    font-weight: bold;
    pointer-events: auto;
    cursor: pointer;    
  }

  .tab-item {
    :first-child {
      padding-right: 10px;
    }

    &.selected {
      border-bottom: 5px solid #2F8B9C;
      padding-bottom: 15px;
      color: #001D22;
    }
  }
  }
