.c-tabs {
  width: 100%;
  max-width: 330px;
  height: 54px;

  > ul {
    display: flex;
    flex: 50% 0 0;

    > li {
      width: 100%;
    }
  }

  .tab {
    background-color: #2F8B9C;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 18px 0;
    font-weight: bold;
    width: 100%;
    cursor: pointer;

    &:hover {
      background-color: darken(#00939B, 5%);
    }
  }

  .selected {
    background-color: #F5F8F8;
    color: #001D22;

    &:hover {
      background-color: #F5F8F8;
    }
  }
}
