#vizz-component {

  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .icon-youtube {
    width: 1.400390625em;
  }

  .icon-twitter {
    width: 1.1669921875em;
  }

  .icon-linkedln {
    width: 1.0771484375em;
  }

  .icon-facebook {
    width: .5830078125em;
  }
}
