@import '_settings';
@import '_mixins';

.c-datasets-sidebar {
  z-index: 1;
  position: absolute;
  width: 330px;
  height: 100%;
  background: #F5F8F8;
  transform: translate(-100%, 0);
  transition: transform .24s cubic-bezier(0.445, 0.050, 0.550, 0.950);

  &.-big {
    width: 50%;
  }

  .overflow-container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 40px;

    .title-header {
      margin-bottom: 0;
      margin-top: 30px;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      color: #000000;
    }

    p.description {
      line-height: 28px;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.16px;
      margin-bottom: 20px;
    }

    .c-button {
      margin-top: 20px;
      background-color: $color-1;
      border: 0;
      border-radius: 100px;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      line-height: 22px;
      color: #FFFFFF;
      padding: 10px 20px;

      &.-big {
        width: 100%;
        padding: 10px 20px;
      }
    }

    .datasets-list {
      margin-bottom: 10px;
    }
  }

  .toggle-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 18px 15px;
    background: #fff;
    transform: translate(100%, 0);
    cursor: pointer;

    > .arrow {
      display: inline-flex;

      &:before {
        content: '';
        @include triangle(6px, $color-1, 'right');
      }
    }
  }

  &.-open {
    transform: translate(0,0);

    .toggle-btn {

      > .arrow {
        &:before {
          @include triangle(6px, $color-1, 'left');
        }
      }
    }
  }
}

.c-spinning-loader {
  position: relative;

  &::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background: url('../../../../../app/assets/images/spinning-loader.svg') center center no-repeat;
    background-size: contain;
    content: '';
    animation: 1s linear 0s infinite rotate;

    @keyframes rotate {
      from {
        transform: translate(-50%, -50%) rotate(0deg);
      }

      to {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}
