<% title 'Community' %>

<div class="l-community">
  <div class="l-intro" style="background-image: url(<%= asset_path('headers/header-bg-comm.jpg') %>)">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: true }%>
    </div>

    <div class="l-title">
      <div class="wrapper">
        <div class="row">
          <div class="c-hero">
            <div class="grid-l-8">
              <h1 class="title -light -huge">i2i Community</h1>
              <p class="subtitle">Turn ideas into practice. Share, learn, and connect with others. Meet like-minded individuals from around the world and exchange ideas on specific topics in financial inclusion measurement, data and client insights.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

<!--   <div class="l-card-grid">
    <div class="c-card -big">
      <div class="picture">
        <img src="images/placeholders/placeholder_1.jpg" alt="placeholder_1">
      </div>
      <div class="metadata">
        <h4 class="title -dark -medium">Presentations</h4>
        <p>Short description porta sem malesuada magna mollis euis mod enean eu leo quam.</p>
        <a class="c-button">Go to section</a>
      </div>
    </div>

    <div class="c-card -big">
      <div class="picture">
        <img src="images/placeholders/placeholder_2.jpg" alt="placeholder_2">
      </div>
      <div class="metadata">
        <h4 class="title -dark -medium">Workshops</h4>
        <p>Short description porta sem malesuada magna mollis euis mod enean eu leo quam.</p>
        <a class="c-button">Go to section</a>
      </div>
    </div>

    <div class="c-card -big">
      <div class="picture">
        <img src="images/placeholders/placeholder_4.jpg" alt="placeholder_4">
      </div>
      <div class="metadata">
        <h4 class="title -dark -medium">Forum</h4>
        <p>Short description porta sem malesuada magna mollis euis mod enean eu leo quam.</p>
        <a class="c-button">Go to section</a>
      </div>
    </div>

    <div class="c-card -big">
      <div class="picture">
        <img src="images/placeholders/placeholder_5.jpg" alt="placeholder_5">
      </div>
      <div class="metadata">
        <h4 class="title -dark -medium">Experts</h4>
        <p>Short description porta sem malesuada magna mollis euis mod enean eu leo quam.</p>
        <a class="c-button">Go to section</a>
      </div>
    </div>
  </div> -->

  <!-- profile sample -->
 <!--  <div class="c-profile -rounded">
    <div class="avatar">
      <img src="images/people/person_2.jpg" alt="Jeremy Soul">
    </div>
    <div class="info">
      <span class="name">Name Surname</span>
      <span class="organization">Organization name</span>
    </div>
  </div> -->
</div>
