<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your data is ready</h1>
<p>
  Just follow this link: ....
</p>
</body>
</html>
