<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Insight2Impact data</h1>
<p> You've requested the data for <%= @contact.country %></p>
<p>
  It's available here:
</p>
<%= @links_block %>
</body>
</html>
