.c-demographic-filters {
  display: flex;

  .filters {

  }

  .filters > .demographic-item {

    > .demographic-submenu {
      display: none;

      &.-open {
        display: block;
      }
    }
  }
}
