@import '_settings';
@import '_mixins';

.c-sectors {
  padding: 0 0 75px;

  .sectors-list {
    position: relative;
    padding: 20px 30px 20px 55px;

    &:not(:first-child) {
      border-top: 2px solid #eee;
    }

    &:after {
      @include triangle(6px, $color-1, 'down');
      content: '';
      position: absolute;
      top: 50%;
      right: 35px;
      transform: translate(0, -50%);
    }

    &.-open {
      &:after {
        @include triangle(6px, $color-1, 'up');
      }
    }

    > button {
      display: flex;
      width: 100%;
      padding: 0 25px 0 20px;
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
