@import '_settings';

@font-face {
  font-family: 'Chalet';
  font-weight: $font-weight-medium;
  src: font-url('/typography/ChaletNewYorkNineteenSixty.ttf') format('truetype');
}

.c-area-of-interest {

  .content-wrapper {
    padding: 0px 55px 100px;
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 20px;

    p {
      font-size: 14px;
      line-height: 19px;
      color: #737780;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    * {
      min-width: 215px;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
      min-width: 215px;

      &.-disabled {
        pointer-events: none;
        opacity: .3;
      }
    }
  }

  .-hidden {
    display: none;
  }
}
