.c-area-of-interest {

  .text-container{
    padding: 0px 40px 20px 75px;
    border-bottom: 1px solid #D8D8D8;
  }

  > * {
    margin: 40px 0 0;

    &:first-child {
      margin: 0;
    }
  }

  p {
    font-size: 14px;
    line-height: 19px;
    color: #737780;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
