<div class="c-modal-profile">
  <div class="member-picture" style="background-image: url(<%= photo %>)"></div>
  <div class="member-info">
    <h3 class="title -dark -medium member-name"><%= name %></h3>
    <h4 class="title -sea -small member-position"><%= position %></h4>
    <%= biography %>
  </div>
</div>
