<div class="downloads-container">
    <p class="downloads-label">
      Select files to download
    </p>

    <ul class="downloads-list">
        <% attachments.forEach(function (attachment) { %>
            <li class="c-checkbox download-item">
                <input
                    type="checkbox"
                    value="<%= attachment.filename %>"
                    id="<%= attachment.filename %>"
                    class="js-option"
                    name="attachment"
                >
                <label for="<%= attachment.filename %>"><%= attachment.filename %></label>
            </li>
        <% }) %>
    </ul>
</div>


