<div class="c-modal-newsletter">
  <h2 class="title -dark">Sign up to our newsletter</h2>
  <form action="https://finamark.createsend.com/t/i/s/<%= id %>/" method="post" class="c-form js-form">
    <input id="fieldName" name="cm-name" type="text" placeholder="Your name" aria-label="Name" />
    <input id="fieldEmail" name="cm-<%= id %>-<%= id %>" type="email" placeholder="E-mail address*" aria-label="Email address" required />
    <% if (institution) { %>
    	<input id="fieldiijrlt" name="cm-f-iijrlt" type="text" placeholder="Your institution" aria-label="Institution" />
    <% } %>
    <button type="submit" class="c-button -medium -sea">Subscribe</button>
  </form>
</div>
