.additional-data-title {
  .additional-data-header {
    padding: 30px 0;
  }
}

.additional-data-cards {

  .c-card > .thumb {
    max-height: 138px;
    overflow: hidden;
  }

  .card-content {
    padding: 0 30px 30px 30px;
  }

  .datasetimage {
    width: 100%;
    height: auto;
  }

  .title {
    padding: 30px 0 20px 0;
    line-height: 35px;
    letter-spacing: -1.26px;
  }

  .c-stats-list {
    margin: 0;
    padding: 0 0 20px 0;

    > .item {
      margin-right: 50px;

      > .value {
        font-size: 35px;
        letter-spacing: -1.26px;
        line-height: 35px;
      }

      > .description {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 0;
      }

    }
  }

  .dataset-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
  }

  .discover-button {
    padding: 30px 0 0 0;
    margin: 0;
    line-height: 22px;
    font-size: 16px;

    > .dataset-button {
      padding: 10px 20px;
    }
  }
}
