.c-chart-widget {
  width: 100%;

  > .title {
    margin-bottom: 30px;
    font-size: $font-size-xxm;

    &:empty {
      width: 160px;
      height: 22px;
      background: rgba($color-5, .4);
    }
  }

  > .details {
    margin-bottom: 10px;
    font-family: $font-family-2;
    font-size: $font-size-s;
    text-transform: uppercase;

    > span {
      color: $color-1;
      cursor: pointer;
    }
  }

  > .chart {
    width: 100%;
    overflow: hidden;

    &.c-table {
      font-size: $font-size-s;

      table {
        position: relative;
        left: 4px;
        width: calc(100% - 8px);
        box-shadow: 0 2px 4px 0 rgba($color-6, .15);
      }
    }
  }

  > .toolbar {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;

    @media #{$mq-tablet} {
      right: 30px;
      bottom: 30px;
      left: 30px;
    }

    > .c-button:not(:last-child) {
      margin: 0 5px 0 0;
    }
  }

  &.-empty > .toolbar > .c-button {
    width: 100px;
    border: 0;
    background: rgba($color-1, .4);
    text-indent: -10000px;
    pointer-events: none;
  }
}
