.c-chart-widget {
  width: 100%;

  > .title {
    margin-bottom: 30px;
    font-size: $font-size-xxm;
  }

  > .chart {
    width: 100%;
    overflow: hidden;
  }

  > .toolbar {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;

    @media #{$mq-tablet} {
      right: 30px;
      bottom: 30px;
      left: 30px;
    }

    // this is a temporary patch. Change component buttons
    // to have its own width and not based on grid.
    > .c-button {
      width: auto;
      padding: 3px 15px;
      border-color: rgba($color-1, .3);

      font-size: $font-size-s;

      &:not(:last-child) {
        margin: 0 5px 0 0;
      }
    }
  }
}
