.c-chart-widget {
  width: 100%;

  > .title {
    margin-bottom: 30px;
    font-size: $font-size-xxm;

    &:empty {
      width: 160px;
      height: 22px;
      background: rgba($color-5, .4);
    }
  }

  > .chart {
    width: 100%;
    overflow: hidden;
  }

  > .toolbar {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;

    @media #{$mq-tablet} {
      right: 30px;
      bottom: 30px;
      left: 30px;
    }

    > .c-button:not(:last-child) {
      margin: 0 5px 0 0;
    }
  }

  &.-empty > .toolbar > .c-button {
    width: 100px;
    border: 0;
    background: rgba($color-1, .4);
    text-indent: -10000px;
    pointer-events: none;
  }
}
