.c-filters-block {
  margin-bottom: 50px;

  .filters-form {
    .filter-column {
      margin-top: 15px;

      > label {
        display: block;
        font-weight: bold;
      }

      .c-button {
        margin-top: 9px;
      }
    }

    .select2 {
      &.select2-container--open .select2-selection.select2-selection--multiple:after {
        transform: rotate(180deg);
      }

      .select2-selection {
        border: 0;
        border-radius: 0;
        background-color: rgba($color-1, 0.1);

        &.select2-selection--multiple {
          position: relative;

          &:after{
            content: " ";
            height: 0;
            width: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $color-1;
            position: absolute;
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.1s linear;
          }

          .select2-selection__choice {
            background-color: $color-1;
            border: 0;
            border-radius: 0;
            color: $color-4;
            padding: 3px 5px;
          }

          .select2-selection__choice__remove {
            color: $color-4;
          }
        }
      }
    }
  }
}

.select2-dropdown {
  border: 0;
  border-radius: 0;

  .select2-results {
    .select2-results__options {
      display: block;
    }
    .select2-results__option {
      display: block;
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $color-1;
  }
}
