
.c-flag {
  position: relative;
  height: 210px;
  margin: 0 0 20px;
  background: #eee; //delete

  > a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  > .country-name {
    position: absolute;
    bottom: 30px;
    left: 30px;

    color: $color-3;
    font-family: $font-family-2;
    font-size: $font-size-s;
    text-transform: uppercase;

    pointer-events: none;
  }
}
