.c-modal-save-widget {
  position: relative;
  overflow: hidden;
  padding: 0 18px;

  @media #{$mq-tablet} {
    padding: 0;
  }

  > .c-widget {
    max-height: 600px;
    margin: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  & + .modal-footer {
    > .group-button {
      display: flex;
    }
  }
}
