.c-modal-chart-analysis {
  padding: 40px;

  > button {
    margin-bottom: 25px;
  }

  > .indicators-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;

    > li {
      flex-basis: 50%;
    }
  }
}
