.c-modal-chart-compare {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: calc(100% - #{$wrapper-padding-mobile * 2});
  margin: 0 auto;
  padding: $wrapper-padding-mobile;
  background-color: $color-4;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media #{$mq-tablet} {
    width: 100%;
    margin: 0;
    padding: $wrapper-padding-tablet;
  }


  .header {
    padding: 0 0 24px;
    border-bottom: 1px solid rgba($color-1, .4);

    @media #{$mq-tablet} {
      padding: 0;
      border-bottom: 0;
    }

    span {
      color: $color-1;
    }
  }

  button {
    margin: $wrapper-padding-mobile 0 10px;

    @media #{$mq-tablet} {
      margin: 25px 0;
    }
  }

  .compare-container {
    position: relative;

    &:not(:empty),
    &.c-spinning-loader {
      min-height: 150px;
      margin-top: 15px;
    }
  }

  .country-year {
    .countries-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > div {
        flex-basis: 100%;

        @media #{$mq-tablet} {
          flex-basis: calc(50% - 15px);
        }

        > .years-list {
          display: flex;
          flex-wrap: wrap;
          margin: 10px 0 20px;
        }

        > .years-list > li {
          flex-basis: 50%;

          @media #{$mq-tablet} {
            flex-basis: 33.33%;
          }
        }
      }
    }
  }

  .jurisdiction {
    .jurisdications-list {
      display: flex;
      flex-wrap: wrap;

      > li {
        flex-basis: 100%;

        @media #{$mq-tablet} {
          flex-basis: 33.33%;
        }
      }
    }
  }
}
