.c-modal-filters {
  > .filters-tabs {
    display: flex;
    align-items: center;
    padding: 15px 30px;


    background-color: rgba($color-1, .1);
  }

  > .filters-tabs .tab {
    color: $color-1;
    font-family: $font-family-1;
    font-size: $font-size-xs;
    cursor: pointer;

    &:not(:last-child) {
      margin: 0 30px 0 0;
    }

    &[aria-selected='true'] {
      position: relative;
      color: $color-5;

      &::after {
        display: inline-block;
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 6px;

        outline: none;
        background-color: $color-1;
        content: '';
      }
    }
  }

  > .filters-container {
    height: 450px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .loading-error {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-1;
      font-family: $font-family-2;
      text-align: center;

      .c-button {
        display: block;
        margin: 30px auto 0;
      }
    }
  }

  .filter-selection {
    padding: 25px 30px;

    .filter-list > .filter-item {
      width: 100%;

      &:not(:last-child) {
        margin: 0 0 15px;
      }

      > .indicator-name {
        display: inline-block;
        margin: 0 0 10px;

        color: $color-5;
        font-size: $font-size-xs;
        font-weight: $font-weight-bold;
      }
    }

    .filter-list > .filter-item > .indicator-filters-list {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;

      > .indicator-filters-item {
        flex-basis: calc(100% / 3);

        > .c-checkbox { height: 100%; }
      }
    }
  }

  .select-indicators {
    padding: 25px 30px;

    h3 {
      margin: 0 0 10px;
      color: $color-5;
      font-size: $font-size-xs;
      font-weight: $font-weight-bold;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      margin-bottom: 15px;

      > li {
        flex-basis: calc(100% / 3);
      }
    }
  }
}
