.c-modal-save-widget {
  overflow: auto;
  max-height: 500px;
  padding: 0 18px;

  @media #{$mq-tablet} {
    max-height: none;
    padding: 0;
  }

  > .c-widget {
    margin: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  & + .modal-footer {
    > .group-button {
      display: flex;
    }
  }
}
