.c-modal-download-all {
  padding: 30px;

  > .title {
    font-size: $font-size-xxm;
  }

  > .description {
    margin: 25px 0;
  }

  > .c-form {

    input {
      &:not(:first-child) {
        margin: 15px 0 0;
      }
    }

    input[type="email"] {
      display: block;
      width: 100%;
    }

    input[type="checkbox"] {
      margin: 0 5px 0 0;

      border: 1px solid $color-1;
    }

    .terms-container {
      display: flex;
      margin: 25px 0 0;

      input[type='checkbox'] {
        position: absolute;
        top: 0;
        left: -10000px;

        &:checked + label::before {
          background-color: $color-1;
        }
      }

      label {
        position: relative;
        margin: 0;
        padding-left: 25px;

        color: $color-5;
        font-family: $font-family-1;
        font-size: $font-size-xs;
        text-transform: none;

        &::before {
          display: inline-block;
          position: absolute;
          top: 2px;
          left: 0px;
          width: 14px;
          height: 14px;
          border: 1px solid $color-1;
          content: '';
        }

        > a {
          position: relative;
          color: $color-1;
          font-weight: $font-weight-light;

          > .icon-external-open {
            position: absolute;
            top: 0px;
            right: -17px;
            width: 15px;
            height: 24px;

            fill: $color-6;
          }
        }
      }
    }
  }
}
