.c-show-tabs-selector {
  width: 100%;
  .show-tabs--items {
    li {
      margin: 0 5px 0 0;
    }

    button {
      cursor: pointer;
      padding: 10px 21px;
      color: #f9d031;
      font-weight: 700;
      font-size: 14px;
      border-radius: 59px;

      &:hover {
        background: #FFF;
        color: #2f939c;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
      }

    }

  }
}