.c-tag {
  display: inline-block;
  height: 24px;
  padding: 0 10px;
  border-radius: 100px;
  background: rgba($color-6, .1);

  color: $color-2;
  font-family: $font-family-2;
  font-size: $font-size-xs;
  line-height: 1.5;

  cursor: pointer;
}
