.c-widget-warning-tooltip {
  @extend .c-chart-tooltip;

  display: block;
  position: relative;
  top: -10px;
  width: 300px;
  padding: 20px;
  text-align: left;

  h3 {
    margin-bottom: 10px;
    font-family: $font-family-2;
    font-size: $font-size-xs;
    line-height: 1.3;
  }

  p {
    font-size: $font-size-xxs;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
      flex-basis: calc(50% - 10px);
    }
  }
}
