.c-widget {
  position: relative;
  min-height: 200px;  // to keep a nice look
  margin: 0 0 30px;
  padding: 15px;
  background: $color-4;
  box-shadow: 0 2px 3px 0 rgba($color-6, .15);

  @media #{$mq-tablet} {
    margin: 20px 0;
    padding: 30px;
  }

  @media #{mq-laptop} {
    height: 525px;
  }

  > .chart {
    margin-top: 30px;
  }

  // financial diaries
  &.-main {

    .title {
      max-width: 65%;
    }

    .vega-bindings {
      position: absolute;
      top: 50px;
      right: 30px;
      display: flex;

      > .vega-bind {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding-left: 15px;

        &:not(:first-child) {
          margin-left: 35px;
        }
      }

      > .vega-bind > .vega-bind-name {
        margin-left: 5px;
        font-family: $font-family-1;
        font-size: $font-size-small;
      }
    }
  }
}
