@import '_settings';

.c-nearby {

  .content-wrapper {
    padding: 0px 55px 30px;
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 20px;

    > * {
      margin-bottom: 30px;
      min-width: 215px;
    }

    p {
      font-size: 14px;
      line-height: 19px;
      color: #737780;
    }
  }

  > * {
    margin: 40px 0 0;

    &:first-child {
      margin: 0;
    }
  }

  p {
    font-size: 14px;
  }

  label {
    color: $color-1;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 10px;

    span {
      color: #001D22;
      font-size: 16px;
      line-height: 30px;
      font-weight: normal;
      padding-left: 5px;
    }
  }

  .rc-slider {
    height: auto;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 2px;
      height: 10px;
      background: $color-1;
      top: 50%;
      transform: translate(0,-40%);
    }

    &:before {
      left: 0;
      margin: 0 0 0 -1px;
    }

    &:after {
      right: 0;
      margin: 0 0 0 1px;
    }

    .rc-slider-handle {
      background-color: $color-1;
    }

    .rc-slider-rail {
      background-color: $color-1;
      width: 100%;
      border: none;
      border-top: 3px dotted rgba($color-1, .7);
      color: #fff;
      background-color: #fff;
      height: 3px;
      width: 100%;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      min-width: 215px;
      margin-bottom: 20px;

      &.-disabled {
        pointer-events: none;
        opacity: .3;
      }
    }
  }
}
