
.c-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 155px;

  > .avatar {
    display: inline-block;
    width: 110px;
    height: 110px;

    border-radius: 50%;
    background: image-url('trump.jpg'); // sample. Remove later.
    background-repeat: no-repeat;
    background-size: cover;
  }

  > .name {
    margin: 25px 0 0;

    color: $color-5;
    font-family: $font-family-2;
    font-size: $font-size-normal;
  }

  > .organization {
    margin: 5px 0 0;

    text-align: center;
  }
}
