.c-content-tabs {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);

  .tab {
    display: inline-block;
    height: 48px;
    padding: 14px 20px;
    border: 0;
    border-radius: 100px;
    background: transparent;
    color: $color-2;
    font-family: $font-family-2;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    text-align: center;
    cursor: pointer;

    &[disabled] {
      pointer-events: none;
    }

    &[aria-pressed='true'],
    &.-active,
    &:hover {
      opacity: .7;
    }

    &:hover {
      background-color: transparent;
      color: $color-2;
      opacity: 1;
    }

    &.-current {
      background: $color-4;
      color: $color-1;
      box-shadow: 0 2px 3px 0 rgba($color-6, .15);
    }
  }

}
