// sass-lint:disable no-important

._is-hidden {
  display: none !important;
}

._no-mobile {
  display: none !important;

  @media #{$mq-tablet} {
    display: block !important;
  }
}

._no-tablet {
  display: block !important;

  @media #{$mq-tablet} {
    display: none !important;
  }
}

._no-desktop {
  @media #{$mq-laptop} {
    display: none !important;
  }
}

._only-desktop {
  display: none !important;

  @media #{$mq-laptop} {
    display: block !important;
  }
}



%clearfix {
  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}

._no-scroll {
  position: fixed;
  width: 100%;
  height: 100%;
}

._align-right {
  text-align: right !important;
}

._is-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
