// sass-lint:disable no-important

._is-hidden {
  display: none !important;
}

._no-mobile {
  display: none !important;

  @media #{$mq-tablet} {
    display: block !important;
  }
}

._no-tablet {
  display: block !important;

  @media #{$mq-tablet} {
    display: none !important;
  }
}

._no-desktop {
  @media #{$mq-laptop} {
    display: none !important;
  }
}

._only-desktop {
  display: none !important;

  @media #{$mq-laptop} {
    display: block !important;
  }
}



%clearfix {
  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}

._no-scroll {
  overflow-y: hidden;
}
