.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-youtube {
  width: 33px;
  height: 24px;
}

.icon-twitter {
  width: 28px;
  height: 24px;
}

.icon-instagram {
  width: 24px;
  height: 24px;
}

.icon-linkedln {
  width: 25px;
  height: 24px;
}

.icon-facebook {
  width: 14px;
  height: 24px;
}

.icon-countries {
  width: 21px;
  height: 28px;
}

.icon-geospatial {
  width: 30px;
  height: 30px;
}

.icon-finscope {
  width: 30px;
  height: 30px;
}

.icon-financial {
  width: 30px;
  height: 30px;
}

.icon-login {
  height: 21px;
  width: 21px;

  &.-active {
    path {
      fill: #F9D031;
    }
  }
}
