// grid
@mixin grid($column) {
  width: grid-space($column);
}

@mixin offset($column) {
  margin-left: offset-space($column);
}

@function grid-space($column) {
  @return $column * (100 / $grid-columns) * 1%;
}

@function offset-space($column) {
  @return $column * (100 / $grid-columns) * 1%;
}

@mixin arrow($size, $border-width, $color, $direction) {
  display: inline-block;
  width: $size;
  height: $size;
  border: $border-width solid $color;
  content: '';

  @if($direction == 'up') {
    transform: rotate(45deg);
    border-right: 0;
    border-bottom: 0;
  }

  @if($direction == 'right') {
    transform: rotate(45deg);
    border-bottom: 0;
    border-left: 0;
  }

  @if($direction == 'down') {
    transform: rotate(45deg);
    border-top: 0;
    border-left: 0;
  }

  @if($direction == 'left') {
    transform: rotate(45deg);
    border-top: 0;
    border-right: 0;
  }
}

// https://davidwalsh.name/css-triangles
@mixin triangle($size, $color, $direction) {
  width: 0;
  height: 0;
  font-size: 0;
	line-height: 0;

  @if($direction == 'up') {
    border-top: 0;
    border-left: $size solid transparent;  /* left arrow slant */
    border-right: $size solid transparent; /* right arrow slant */
    border-bottom: $size solid $color; /* bottom, add background color here */
  }

  @if($direction == 'right') {
    border-right: 0;
    border-bottom: $size solid transparent;  /* left arrow slant */
    border-top: $size solid transparent; /* right arrow slant */
    border-left: $size solid $color; /* bottom, add background color here */
  }

  @if($direction == 'down') {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  }

  @if($direction == 'left') {
    border-left: 0;
    border-bottom: $size solid transparent;  /* left arrow slant */
	  border-top: $size solid transparent; /* right arrow slant */
	  border-right: $size solid $color; /* bottom, add background color here */
  }
}

@mixin translate_content() {
  padding-top: 50px;

  @media #{$mq-laptop} {
    padding-top: 50px;
  }
}

@mixin header_veil($size: 50px) {
  &:before {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $size;
    background-color: $color-1;
    content: '';
    z-index: 1;
  }
}
