
// typography
$font-family-1: 'Montserrat', sans-serif;
$font-family-2: 'Chalet';

$font-size-s: 13px;
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-xxm: 24px;
$font-size-xm: 35px;
$font-size-m: 46px;
$font-size-xxl: 50px;
$font-size-xl: 75px;
$font-size-l: 111px;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;

// colors
$color-1: #2f939c;
$color-2: #f9d031;
$color-3: #f5f8f8;
$color-4: #fff;
$color-5: #001d22;
$color-6: #000;
$color-7: #f2f3f4;
$color-8: #edf1f1;
$color-9: #d8d8d8;
$color-10: #dd3636;
$color-11: #d5e6e8;

// layout
$body-max-width: 1280px;
$content-max-width: 1060px;

// cards
$card-height: 325px;
$card-bottom-margin: 20px;

// grid
$grid-columns: 12;
$grid-max-width: 1080px;
$grid-gutter-width: 1%;

$grid-padding: 20px;
$wrapper-padding-mobile: 18px;
$wrapper-padding-tablet: 30px;
$wrapper-padding-desktop: 110px;

// Breakpoints
$breakpoint-mobile:  320px;
$breakpoint-tablet:  768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;

// Media queries
$mq-mobile: 'screen and (min-width: #{$breakpoint-mobile})';
$mq-tablet: 'screen and (min-width: #{$breakpoint-tablet})';
$mq-laptop: 'screen and (min-width: #{$breakpoint-laptop})';
$mq-desktop: 'screen and (min-width: #{$breakpoint-desktop})';

$mq-body-width: 'screen and (min-width: #{$body-max-width})';
$mq-content-width: 'screen and (min-width: #{$content-max-width})';
