<!--<div class="country-label">-->
  <%# if country.has_dataset %>
    <%#= link_to country.country.name, data_portal_country_preview_path(country.country.iso), class: 'country-name' %>
  <%# else %>
    <%#= country.country.name %>
  <%# end %>
<!--</div>-->

<% if country.has_dataset %>
  <%= link_to data_portal_country_preview_path(country.country.iso), class: 'country-link' do %>
    <div class="country-name">
      <%= country.country.name %>
    </div>
  <% end %>
<% else %>
  <div class="country-name">
    <%= country.country.name %>
  </div>
<% end %>

