<div class="grid-12" style="margin-bottom: 10px; line-height: 30px;">
  <span>
    <%= "#{download_link.name} – " %>
  </span>

  <%= link_to 'Download',
              download_link.url,
              class: '',
              style: 'margin-right: 10px; color: #2F939C; font-size: 16px; line-height: 30px; text-decoration: underline; font-weight: 700',
              target: '_blank',
              download: true %>
</div>
