<div class="grid-l-6 grid-m-6 grid-s-12" style="display: flex; margin-bottom: 20px;">
  <div style="width: 100%; box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15); background-color: #ffffff; padding: 25px 30px 30px 30px;">
    <div class="header" style="display:flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <h3 class="title" style="font-size: 24px; line-height: 30px;">
        Publications
      </h3>

      <% if has_more_publications %>
        <div class="more-publications-button c-button"
             data-iso="<%= iso %>"
             data-downloads="<%= downloads %>"
             style="padding: 1px 15px; color: #257B83; display: flex; align-items: center; font-size: 12px; line-height: 17px;">
          More publications
        </div>
      <% end %>
    </div>

    <% if publications.any? %>
      <div class="row">
        <%= render partial: 'regions/publication_row',
                   collection: publications,
                   as: :attachment %>
      </div>
    <% else %>
      <div class="row">
        <p style="font-size: 14px">
          No publications available.
        </p>
      </div>
    <% end %>


  </div>
</div>
