<div class="grid-s-12 grid-m-6 grid-l-4 library js-masonry-item">
  <article class="c-card">
    <%= image_tag('data-portal/data-portal-dashboard-1.jpg',
                  alt: 'Data portal dashboard',
                  class: 'datasetimage',
                  style: 'width: 100%; height: auto') %>

    <h3 class="title -big -dark filter-finscope">National Surveys</h3>

    <ul class="c-stats-list">
      <li class="item">
        <h3 class="value">31</h3>
        <h5 class="description">Countries</h5>
      </li>
      <li class="item -last">
        <h4 class="description">Datasets</h4>
        <span class="value">50</span>
      </li>
    </ul>

    <p class="dataset-description">
      National Surveys (which are nationally representative surveys of adults in a particular country) demonstrate how people source their income and manage their financial lives. Providing a view on the levels of financial inclusion within a country, they are of value to policymakers and researchers who are looking to improve the functioning of financial markets.
    </p>
  </article>
</div>
