<% content_for :head do %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
<% end %>

<div class="grid-6" style="margin-bottom: 20px;">
  <div style="box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15); background-color: #ffffff; padding: 25px 30px 30px 30px;">
    <div class="header" style="display:flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <h3 class="title" style="font-size: 24px; line-height: 30px;">
        GDP by sector
      </h3>
    </div>
    <div>
      <%= react_component("charts/country-gdp-by-sector", { iso: params[:iso] }) %>
    </div>
  </div>
</div>

<div class="grid-6" style="margin-bottom: 20px;">
  <div style="box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15); background-color: #ffffff; padding: 25px 30px 30px 30px;">
    <div class="header" style="display:flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <h3 class="title" style="font-size: 24px; line-height: 30px;">
      GDP Over time
      </h3>
    </div>
    <div>
      <%= react_component("charts/country-gdp-over-time", { iso: params[:iso] }) %>
    </div>
  </div>
</div>

<!--
<div class="grid-12" style="margin-bottom: 20px;">
  <div style="box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15); background-color: #ffffff; padding: 25px 30px 30px 30px;">
    <div class="header" style="display:flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <h3 class="title" style="font-size: 24px; line-height: 30px;">
        Savings
      </h3>
    </div>

    <div>
    </div>
  </div>
</div>

<div class="grid-12" style="margin-bottom: 20px;">
  <div style="box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15); background-color: #ffffff; padding: 25px 30px 30px 30px;">
    <div class="header" style="display:flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <h3 class="title" style="font-size: 24px; line-height: 30px;">
        Credit
      </h3>
    </div>

    <div>
    </div>
  </div>
</div>
-->
