<div class="row">
  <div class="grid-s-12">
    <h2 class="section-header" style="padding: 20px 0;">
      <%= section_title %>
    </h2>
  </div>

  <div class="grid-s-12 grid-m-9 grid-l-9">
    <p>
      <%= simple_format(description) %>
    </p>
  </div>
</div>
