<% if country.has_dataset %>
  <div class="grid-s-6 grid-m-6 grid-l-3 country-button">
    <%= link_to country.link, data: { turbolinks: false } do %>
      <article class="c-flag" style='background-image: url(<%= country[:flag_url] %>);'>
        <div class="country-info">
          <div class="country-icons">
            <%= inline_svg("logos/#{country.icon.to_s}.svg", class: 'icon -large active') %>
          </div>
          <span class="country-name"><%= country[:name] %></span>
        </div>
      </article>
    <% end %>
  </div>
<% end %>
