<section class="l-country-list">
  <div>
    <h2 class="section-header">
      Countries
    </h2>

    <%#= render partial: 'regional_filter' %>
  </div>

  <div class="l-card-grid countries-list">
    <div class="row">
      <%= render partial: 'data_portal/filtered_country', collection: countries, as: :country %>
    </div>
  </div>
</section>
