<div class="l-title">
  <div class="wrapper">
    <div class="row">
      <div class="c-hero">
        <div class="grid-l-7">z
          <div class="row">
            <h1 class="title -light -huge">i2i Data Portal</h1>
            <p class="subtitle">Compare indicators across countries and periods. Start by gaining a broad overview of the financial market through <%= link_to 'National Surveys', national_surveys_path %>, and then deepen your understanding of how low-income households manage their financial lives using <%= link_to 'Financial Diaries', financial_diaries_path %>. You can also overlay <%= link_to 'Geospatial Data', geospatial_data_path %> to learn more about a particular area and explore the <%= link_to 'MSME sector', msm_enterprises_path %> of a country.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
