<% content_for :head do %>
  <link rel="preload" href="<%= asset_path('spinning-loader.svg') %>" as="image">
<% end %>

<% title 'Data Portal' %>

<div class="l-data-portal-country">
  <div class="l-mobile-header _no-desktop">
    <div class="wrapper">
      <span class="country-name js-country">–</span>
    </div>
  </div>
  <div class="l-header">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: false }%>
    </div>
  </div>

  <div class="l-intro">
    <div class="l-title">
      <div class="wrapper">
        <div class="row js-header">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="l-switcher _no-desktop">
        <div class="grid-s-8 grid-m-4 grid-l-3">
          <div class="c-switcher">
            <span class="switcher-option -current">Graphics</span>
            <span class="switcher-option">Table</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-content">
    <div class="wrapper">
      <div class="l-switcher _only-desktop">
        <div class="row">
          <div class="grid-l-12">
            <div class="row">
              <div class="container">
                <div class="grid-l-3">
                  <div class="c-switcher">
                    <span class="switcher-option -current">Graphics</span>
                    <span class="switcher-option">Table</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-indicator-grid">
      <div class="wrapper">
        <div class="row">
          <div class="grid-l-12">
            <div class="row js-widgets"></div>
          </div>
        </div>
        <div class="row">
          <div class="grid-s-12">
            <div class="row">
              <div class="footer-indicator-grid">
                <div class="grid-s-12">
                  <div class="indicator-options">
                    <div class="row">
                      <div class="grid-s-12 grid-m-4 grid-l-3">
                        <button class="c-button -white">Add all to report</button>
                      </div>
                      <div class="grid-s-12 grid-m-4 grid-l-3">
                        <button class="c-button -white">Download all</button>
                      </div>
                      <div class="grid-s-12 grid-m-4 grid-l-4">
                        <button class="c-button -white">Check FSPmaps data</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-l-4 _only-desktop">
                  <div class="container-custom-indicators">
                    <button class="c-button -sea">Customize indicators</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/contribute' %>
</div>
