<% content_for :head do %>
  <link rel="preload" href="<%= asset_path('spinning-loader.svg') %>" as="image">
<% end %>

<% title 'Data Portal' %>

<div class="l-data-portal-country">
  <div class="l-mobile-header _no-desktop js-mobile-header">
    <div class="wrapper">
      <header>
        <span class="country-name js-country">–</span>
        <button type="button" class="js-mobile-header-toggle">Toggle menu</button>
      </header>
    </div>
  </div>
<!--   <div class="l-header">
    <div class="wrapper">
      <%#= render partial: 'shared/header', locals: { isCover: false } #%>
    </div>
  </div> -->

  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-12">
                <%= render partial: 'data_portal_financial_diaries/country-selector' %>
                <div class="row js-header">
              </div>
            </div>
            <div class="_only-desktop">
              <div class="row">
                <div class="grid-l-3 offset-l-9">
                  <div class="c-switcher js-tabs" role="tablist">
                    <button id="graphics-tab" class="switcher-option -current" name="graphics" role="tab" aria-controls="widgets-list" aria-selected="true">Graphics</button>
                    <button id="table-tab" class="switcher-option" name="table" role="tab" aria-controls="widgets-list" aria-selected="false" tabindex="-1">Table</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-switcher _no-desktop">
        <div class="grid-s-8 grid-m-4 grid-l-3">
          <div class="c-switcher js-tabs" role="tablist">
            <button id="graphics-tab" class="switcher-option -current" name="graphics" role="tab" aria-controls="widgets-list" aria-selected="true">Graphics</button>
            <button id="table-tab" class="switcher-option" name="table" role="tab" aria-controls="widgets-list" aria-selected="false" tabindex="-1">Table</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="l-content">
    <div class="l-indicator-grid">
      <div class="wrapper">
        <div class="row">
          <div class="grid-s-12">
            <div id="widgets-list" class="row widgets-list js-widgets" role="tabpanel" aria-labelledby="graphics-tab"></div>
          </div>
        </div>
        <div class="row">
          <div class="grid-s-12">
            <div class="row">
              <div class="footer-indicator-grid js-footer"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
