.c-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Open Sans";	
  color: #000000;
  font-size: 16px;	
  line-height: 22px;
  padding: 200px 70px;
    
  .button {
    color: #2F939C;
    text-decoration: underline;
    cursor: pointer;
  }

  .icon-search {
    width: 100px;
    height: 100px;
  }
}
