.twitter-slider {
  position: relative;
  width: 100%;
  margin-top: 50px;

  .slidelist {
    width: 100%;
  }

  .slide {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    background-color: $color-4;
    box-shadow: 0 2px 3px 0 rgba($color-6, .15);

    > .row {
      width: 100%;
    }
  }

  .tweet {
    display: flex;
    // flex: 1;
    justify-content: center;
    padding: 50px;

    @media#{$mq-tablet} {
      &.-narrow {
        padding-right: 30px;
      }
    }

    .tweet-header {
      > .user {
        display: block;
        // margin-top: 20px;
        color: $color-1;
        font-family: $font-family-1;
        font-size: $font-size-regular;
        font-weight: $font-weight-bold;
      }

      > .date {
        display: block;
        margin-top: 10px;
        color: $color-6;
        font-family: $font-family-1;
        font-size: $font-size-regular;
        font-weight: $font-weight-bold;
        opacity: .3;
      }
    }

    .tweet-content {
      // display: flex;
      // flex: 1;
      // align-items: center;
      margin-top: 20px;
      transform: translate(33px, 0);

      > .text {
        // position: relative;
        // color: $color-6;
        // font-family: $font-family-1;
        // font-size: $font-size-regular;
        // font-weight: $font-weight-medium;
        // line-height: 28px;

        &::before {
          position: absolute;
          right: 100%;
          bottom: 100%;
          margin-right: 5px;
          transform: translateY(100%);
          color: $color-1;
          font-size: 62px;
          font-weight: $font-weight-bold;
          line-height: 28px;
          content: open-quote;
        }

        &::after {
          position: absolute;
          top: 100%;
          left: 100%;
          margin-left: 5px;
          transform: translateY(-100%);
          color: $color-1;
          font-size: 62px;
          font-weight: $font-weight-bold;
          line-height: 28px;
          content: close-quote;
        }
      }
    }
  }

  .tweet-image {
    position: relative;
    right: -3%;
    width: 100%;
    height: 350px;
    background-color: $color-4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  // Selector to align with rslider library naming convention
  .buttons_nav {
    position: absolute;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-1;
    background-repeat: no-repeat;
    background-position: center;
    color: $color-4;
    text-decoration: none;
    text-indent: -9999px;
    opacity: 1;
    overflow: hidden;
    z-index: 2;

    &.prev {
      left: -25px;
      background-image: url(../images/icons/arrow-previous.svg);
    }

    &.next {
      right: -25px;
      background-image: url(../images/icons/arrow-next.svg);
    }
  }
}
